<div class="box-news">
    <h3 class="title clearfix">
        <i class="fa fa-newspaper-o"></i>
        <span>
            Thanh Công Cụ
        </span>
    </h3>
    <div class="news-content">
        <div class="news-block clearfix">
            <!--Item 1-->
            <div *ngFor="let congcu of noidungthanhcongcu">
                <div class="news-item clearfix">
                    <div class="col-md-2 col-sm-2 col-xs-2 image">
                        <a href="tin-tuc/can-hotopaz-garden-tan-phu.html"><i class="{{congcu.icon}}"></i></a>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 news-info ">
                        <h2 class="name"><a href="tin-tuc/can-hotopaz-garden-tan-phu.html">{{congcu.tencongcu}}</a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>