<div class="breadcrumb clearfix">
    <ul>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
            <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                    chủ</span></a>
        </li>
        <li class="icon-li"><strong>Dự án</strong> </li>
        <li class="icon-li">
            <strong>{{duan.tenDuAn}}</strong>
        </li>
    </ul>
</div>
<h1>{{duan.tenDuAn}}</h1>
<!-- slider -->
<!--component panner top-->
<slider-component></slider-component>
<!--component panner top-->
<!-- slider -->

<!-- nội dung khung chi tiết -->
<div class="project-tabs  margin-top-10">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" href="#tab1">Chi tiết dự &#225;n</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <div style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; text-align: justify; background-color: rgb(241, 241, 241);">
                {{duan.noiDungChiTiet}}
            </div>
        </div>
    </div>
</div>
<!-- nội dung khung chi tiết -->