<div class="wrapper">
    <!--header-->
    <header-component></header-component>
    <!--header-->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="index.html" itemprop="url">
                                    <span itemprop="title">Trang chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>Tìm kiếm sàn giao dịch</strong> </li>
                        </ul>
                    </div>
                    <!--Nọi dung tìm thấy-->
                    <noi-dung-tim-thay></noi-dung-tim-thay>
                    <!--Nọi dung tìm thấy-->
                </div>
            </div>
        </div>
    </div>
    <!--component đối tác-->
    <doi-tac></doi-tac>
    <!--component đối tác-->

    <!--component footer-->
    <footer-component></footer-component>
    <!--component footer-->
</div>