<div class="main">
    <div class="container">
        <div class="row" style="padding-top: 55px;">
            <search-component></search-component>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb clearfix">
                    <ul>
                        <li class="home">
                            <a title="Đến trang chủ" [routerLink]="['/trang-chu']" itemprop="url">
                                <span itemprop="title">Trang chủ</span></a>
                        </li>
                        <li class="icon-li"><strong>Kết quả tìm kiếm</strong> </li>
                    </ul>
                </div>
                <!--Nọi dung tìm thấy-->
                <noi-dung-tim-thay></noi-dung-tim-thay>
                <!--Nọi dung tìm thấy-->
            </div>
        </div>
    </div>
</div>