<a href="javascript:;" class="trigger" (click)="loadhinh()"><i class="fa fa-list-alt"
        style="margin-top: 5px; padding-left: 20px;"></i>Hình
    ảnh</a>
<div class="modal-wrapper" style="z-index: 1">
    <div class="modal">
        <div class="head">
            <a class="btn-close trigger" href="javascript:;"></a>
        </div>
        <div class="content">
            <div style="margin-top: -25px !important;">
                <!-- hinh anh -->
                <upload-image *ngIf="flagthem" [page]="statusthem"></upload-image>
                <!-- hinh anh -->
                <button style="float: right; margin-top: -44px;" type="submit" class="btn btn-info" (click)="add()"><i
                        class="fa fa-plus-circle"></i><span>{{mess}}</span></button>

            </div>
            <span>
                <input type="text" style="width: 100%;" class="form-control" id="tags" (keyup)="changeTimKiem($event)"
                    placeholder="Nhập tên hình cần tìm">
            </span>
            <span>
                <label>URL:</label>
                <input type="text" style="width: 89%;" class="form-control" readonly
                    placeholder="Đường dẫn hình. Hãy sao chép nó." value="{{duongdan}}">
                <button style="    float: right; margin-top: -45px; border-radius: 5px 5px;
                height: 35px;" type="submit" class="btn btn-info" (click)="xoaHinh()"><span>Xóa</span></button>
            </span>
            <div class="row" style="overflow: scroll; height: 267px; width: 107%;">
                <!--du an 1-->
                <h5 *ngIf="dsTenHinh.length === 0" style="text-align: center; color: red;">{{thongbao}}</h5>
                <div class="col-xs-3 project-item-box" *ngFor="let image of dsTenHinh">
                    <div class="project-item project-resize">
                        <div class="image image-resize"
                            style="max-height: 50px !important; min-height: 50px !important; margin: 2px; ">
                            <img src="{{urlImage}}get-images/{{image.name}}" class="img-responsive"
                                style="max-height: 50px; min-height: 50px; width: 100%;" (click)="layTenHinh($event)" />
                        </div>
                        <h6>{{image.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>