<div class="property-tabs">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Chi tiết</a></li>
    </ul>
    <div class="tab-content">
        <div>
            Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự án đang tạo nên cơn sốt
            trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện ích hiện đại kết hợp với thiên nhiên hoàn hảo
            cùng mức giá rất hợp lý!</div>
        <div>
            Hotline: 0933.583.666 – 0934.640.959.</div>
        <div>
            - Chủ đầu tư: Công ty TNHH TM - QC - XD - Địa ốc Việt Hân & Công ty CP BĐS TNR Holdings VN.</div>
        <div>
            - NH hỗ trợ vốn: Maritime Bank.</div>
        <div>
            - Đơn vị thi công: Delta/Coteccons.</div>
        <div>
            - Đơn vị thết kế: Line Architecs & Engineers Co.,</div>
        <div>
            - Diện tích lô đất: 12.17 ha, mật độ XD 23,3%.</div>
        <div>
            - Vị trí dự án: 136 Hồ Tùng Mậu, Hà Nội.</div>
        <div>
            - Đơn vị phân phối chính thức: Đất Xanh Miền Bắc.</div>
        <div>
            I – Vị trí đắc địa.</div>
        <div>
            Goldmark City có vị trí vô cùng đắc địa: Phía trước là công viên hồ điều hòa 15ha, phía sau là sông Nhuệ
            thơ mộng.</div>
        <div>
            Tọa lạc giữa 2 phố lớn là Hồ Tùng Mậu – Nguyễn Cơ Thạch, gần Sân vận động Mỹ Đình và Đại học Thương Mại.</div>
        <div>
             </div>
        <div>
            II - Tiện ích hoàn hảo.</div>
        <div>
            Goldmark City là siêu dự án duy nhất tại cửa ngõ phía Tây Hà Nội được xây dựng trong một quần thể đô thị
            khép kín với đầy đủ tiện ích cao cấp:</div>
        <div>
            - Bao quanh các tòa nhà là lối dạo bộ kết hợp với không gian mặt nước, vườn hoa, công viên cây xanh, đài
            phun nước, khu vui chơi trẻ em, sân bóng đá, sân tennis, khu tập gym, spa, bể bơi, sân golf mini, ….</div>
        <div>
            - Khu trường học liên cấp từ mầm non đến trung học cơ sở theo đúng tiêu chuẩn của Bộ GD. Các khu sinh hoạt
            thể chất, sinh hoạt CLB, khu vườn thực nghiệm ….</div>
        <div>
            - Khu thương mại – văn phòng – dịch vụ được thiết kế tách biệt với khu dân cư, đáp ứng đầy đủ nhu cầu mua
            sắm, văn phòng làm việc, tiện ích chung mà vẫn không làm mất đi không gian sống riêng của cư dân.</div>
        <div>
            III – Bố trí hợp lý.</div>
        <div>
            Goldmark City bố trí nhiều loại diện tích từ 74m2 – 173m2 từ 2- 4 phòng ngủ.</div>
        <div>
            + Căn 2 PN: 74- 83 – 93 m2.</div>
        <div>
            + Căn 3 PN: 99- 110 – 123 – 127 – 138 – 143 m2.</div>
        <div>
            + Căn 4PN: 160 – 169 – 173m2.</div>
        <div>
            Các căn hộ được thiết kế hiện đại theo phong cách Singapore, đảm bảo 100% ánh nắng và gió tự nhiên lưu
            thông, tối đa hoa công năng sử dụng.</div>
        <div>
             </div>
        <div>
            Giá bán chỉ từ 1,96 tỷ/căn (đã có VAT, nội thất).</div>
        <div>
            Tiến độ thanh toán làm 6 đợt, đợt 1: 30%.</div>
        <div>
            Ngân hàng Maritime hỗ trợ vay vốn Lãi suất: 4,99%.</div>
        <div>
            Giao nhà: Quý I/ 2017.</div>
        <div>
            Hotline: 0933.583.666 – 0934.640.959.</div>

    </div>
</div>