<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                                        chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>Tin tức</strong> </li>
                        </ul>
                    </div>
                    <noi-dung-tin-tuc-chi-tiet></noi-dung-tin-tuc-chi-tiet>
                </div>
                <div class="col-md-3">
                    <!--tin tức nổi bật-->
                    <tin-tuc-noi-bat></tin-tuc-noi-bat>
                    <!--tin tức nổi bật-->
                </div>
            </div>
        </div>
    </div>
</div>