<header-component></header-component>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                                        chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>Dự án</strong> </li>
                        </ul>
                    </div>
                    <du-an></du-an>

                </div>
                <div class="col-md-4">
                    <!--Chen khung search ben phai -->
                    <!-- Chen du an noi bat -->
                </div>
            </div>
        </div>
    </div>
</div>
<doi-tac></doi-tac>
<footer-component></footer-component>