<section class="project-content clearfix">
    <h1 class="title clearfix">
        <i class="fa fa-list"></i>
        <span>Dự án </span><span *ngIf="tieude" class="tieude">Theo Loại {{tieude}}</span>
    </h1>
    <nav class="navbar navbar-default project-filter">
        <ul class="display">
            <li id="grid" [ngClass]="{'active':status, 'grid':true}" (click)="changeStatus('/trang-chu')">
                <a [routerLink]="['/trang-chu']"><i class="glyphicon glyphicon-th-list"></i></a></li>
            <li id="list" [ngClass]="{'active':!status, 'list':true}" (click)="changeStatus('/trang-chu/grid')">
                <a [routerLink]="['/trang-chu/grid']" title="List"><i class="glyphicon glyphicon-th"></i></a></li>
        </ul>

    </nav>
    <router-outlet></router-outlet>
    <!--phân trang-->
    <div class="navigation" *ngIf="ds_page.length > 1">
        <ul class="pagination">
            <li *ngFor="let page of ds_page" [ngClass]="{'active':currentPagePhanTrang===page.value?true:false}"><a
                    [routerLink]="[pageCurrent]" (click)="createPhanTrang(page.value)">{{page.name}}</a>
            </li>
        </ul>
    </div>
</section>