<section class="project-content clearfix">
    <h1 class="title clearfix">
        <i class="fa fa-list"></i>
        <span>Dự án</span>
    </h1>
    <nav class="navbar navbar-default project-filter">
        <ul class="display">
            <li id="grid" class="active grid"><a href="#" title="Grid"><i class="glyphicon glyphicon-th-list"></i></a></li>
            <li id="list" class="list"><a href="#" title="List"><i class="glyphicon glyphicon-th"></i></a></li>
        </ul>
        <div class="limit hidden-xs">
            <span>Dự án/trang</span>
            <select id="lblimit" name="lblimit" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option value="?limit=10">10</option>
                <option selected="selected" value="?limit=12">12</option>
                <option value="?limit=20">20</option>
                <option value="?limit=50">50</option>
                <option value="?limit=100">100</option>
                <option value="?limit=250">250</option>
                <option value="?limit=500">500</option>
            </select>
        </div>
        <div class="sort hidden-xs">
            <span>Sắp xếp</span>
            <select id="lbsort" onchange="window.location.href = this.options[this.selectedIndex].value">
                <option selected="selected" value="?sort=index&amp;order=asc">Mặc định</option>
                <option value="?sort=price&amp;order=asc">Gi&#225; tăng dần</option>
                <option value="?sort=price&amp;order=desc">Gi&#225; giảm dần</option>
                <option value="?sort=name&amp;order=asc">T&#234;n dự &#225;n: A to Z</option>
                <option value="?sort=name&amp;order=desc">T&#234;n dự &#225;n: Z to A</option>
            </select>
        </div>
    </nav>
    <div class="project-block project-grid clearfix">
        <div class="row">
            <!--du an 1-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/opal-riverside.html" title="OPAL RIVERSIDE">
                            <img src="..\assets\images\product\3.png" class="img-responsive" />
                        </a>
                        <span class="new">New</span>
                        <div class="thumbnail">
                            <a href="du-an/opal-riverside.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/opal-riverside.html" title="OPAL RIVERSIDE">OPAL
                                RIVERSIDE</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 2-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/sunview-town.html" title="SUNVIEW TOWN">
                            <img src="..\assets\images\product\2.jpg" class="img-responsive" />
                        </a>
                        <span class="new">New</span>
                        <div class="thumbnail">
                            <a href="du-an/sunview-town.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/sunview-town.html" title="SUNVIEW TOWN">SUNVIEW TOWN</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 3-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/gold-hill-center.html" title="GOLD HILL CENTER">
                            <img src="..\assets\images\product\17.png" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/gold-hill-center.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/gold-hill-center.html" title="GOLD HILL CENTER">GOLD
                                HILL CENTER</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 4-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/saigonres-plaza.html" title="SAIGONRES PLAZA">
                            <img src="..\assets\images\product\18.jpg" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/saigonres-plaza.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/saigonres-plaza.html" title="SAIGONRES PLAZA">SAIGONRES
                                PLAZA</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 5-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/topaz-city.html" title="TOPAZ CITY">
                            <img src="..\assets\images\product\21.jpg" class="img-responsive" />
                        </a>
                        <span class="new">New</span>
                        <div class="thumbnail">
                            <a href="du-an/topaz-city.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/topaz-city.html" title="TOPAZ CITY">TOPAZ CITY</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 6-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/golden-west.html" title="GOLDEN WEST">
                            <img src="..\assets\images\product\16.png" class="img-responsive" />
                        </a>
                        <span class="new">New</span>
                        <div class="thumbnail">
                            <a href="du-an/golden-west.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/golden-west.html" title="GOLDEN WEST">GOLDEN WEST</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 7-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/my-son-tower.html" title="MỸ SƠN TOWER">
                            <img src="..\assets\images\product\15.png" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/my-son-tower.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/my-son-tower.html" title="MỸ SƠN TOWER">MỸ SƠN TOWER</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 8-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/phu-gia-hung-apartment.html" title="PH&#218; GIA HƯNG APARTMENT">
                            <img src="..\assets\images\product\10.jpg" class="img-responsive" />
                        </a>
                        <span class="new">New</span>
                        <div class="thumbnail">
                            <a href="du-an/phu-gia-hung-apartment.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/phu-gia-hung-apartment.html" title="PH&#218; GIA HƯNG APARTMENT">PH&#218;
                                GIA HƯNG APARTMENT xzx zcds asdasd asdas asda asdas asd asd ád</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 9-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/sunview-1-2.html" title="SUNVIEW 1&amp;2">
                            <img src="..\assets\images\product\12.jpg" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/sunview-1-2.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/sunview-1-2.html" title="SUNVIEW 1&amp;2">SUNVIEW
                                1&amp;2</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 10-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/the-morning-star.html" title="THE MORNING STAR">
                            <img src="..\assets\images\product\20.jpg" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/the-morning-star.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/the-morning-star.html" title="THE MORNING STAR">THE
                                MORNING STAR</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 11-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/khu-do-thi-five-star.html" title="KHU Đ&#212; THỊ FIVE STAR">
                            <img src="..\assets\images\product\19.jpg" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/khu-do-thi-five-star.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/khu-do-thi-five-star.html" title="KHU Đ&#212; THỊ FIVE STAR">KHU
                                Đ&#212; THỊ FIVE STAR</a>
                        </h2>
                    </div>
                </div>
            </div>
            <!--du an 12-->
            <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
                <div class="project-item project-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="du-an/khu-do-thi-hung-phuoc.html" title="KHU Đ&#212; THỊ HƯNG PHƯỚC">
                            <img src="..\assets\images\product\20.jpg" class="img-responsive" />
                        </a>
                        <div class="thumbnail">
                            <a href="du-an/khu-do-thi-hung-phuoc.html" class="zoom">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="right-block">
                        <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a href="du-an/khu-do-thi-hung-phuoc.html" title="KHU Đ&#212; THỊ HƯNG PHƯỚC">KHU
                                Đ&#212; THỊ HƯNG PHƯỚC</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <ul class="pagination">
            <li>
                <a href="index2679.html?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="index2679.html?page=1">1</a></li>
            <li><a href="index4658.html?page=2">2</a></li>
            <li>
                <a href="index4658.html?page=2" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</section>