<section class="property-content clearfix">
    <h1 class="title clearfix">
        <span>Kết quả tìm kiếm</span>
    </h1>
    <div class="property-tabs">
        <div class="property-block property-list clearfix">
            <div class="row">
                <div class="property-resize property-item-box clearfix">
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="helios-75-tam-trinh-_-chiet-khau-2-gia-chi-tu-1-4-ty-_-lien-he-094-706-4444.html">
                                <img src="Uploads/shop149/images/project/property-small-5-270x200.png" class="img-responsive" />
                            </a>
                            <span class="rent">Mua b&#225;n</span>
                            <div class="thumbnail">
                                <a href="helios-75-tam-trinh-_-chiet-khau-2-gia-chi-tu-1-4-ty-_-lien-he-094-706-4444.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="helios-75-tam-trinh-_-chiet-khau-2-gia-chi-tu-1-4-ty-_-lien-he-094-706-4444.html">
                                    HELIOS 75 TAM TRINH _ CHIẾT KHẤU 2% GI&#193; CHỈ TỪ 1,4 TỶ _ LI&#202;N HỆ 094 706
                                    4444
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="thiet-ke-can-ho-1-pn-dep-nhat-tu-truoc-den-nay-chi-co-tai-du-an-park-3-vinhomes-times-city.html">
                                <img src="Uploads/shop149/images/project/06_img-5-370x270.png" class="img-responsive" />
                            </a>
                            <span class="rent">Cho thu&#234;</span>
                            <div class="thumbnail">
                                <a href="thiet-ke-can-ho-1-pn-dep-nhat-tu-truoc-den-nay-chi-co-tai-du-an-park-3-vinhomes-times-city.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="thiet-ke-can-ho-1-pn-dep-nhat-tu-truoc-den-nay-chi-co-tai-du-an-park-3-vinhomes-times-city.html">
                                    THIẾT KẾ CĂN HỘ 1 PN ĐẸP NHẤT TỪ TRƯỚC ĐẾN NAY CHỈ C&#211; TẠI DỰ &#193;N PARK 3 -
                                    VINHOMES TIMES CITY
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="mua-can-ho-r6-royal-city-nhan-ngay-800-trieu-lh-0981935980.html">
                                <img src="Uploads/shop149/images/project/modern-contemporary-wood-house-interior-design-ideas-modern-contemporary-wood-house-interior-design-ideas-photos-370x300.jpg"
                                    class="img-responsive" />
                            </a>
                            <span class="rent">Cho thu&#234;</span>
                            <div class="thumbnail">
                                <a href="mua-can-ho-r6-royal-city-nhan-ngay-800-trieu-lh-0981935980.html" class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="mua-can-ho-r6-royal-city-nhan-ngay-800-trieu-lh-0981935980.html">
                                    MUA CĂN HỘ R6 ROYAL CITY NHẬN NGAY 800 TRIỆU. LH 0981935980
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="tai-sao-chung-cu-goldmark-city-moi-chi-ban-duoc-gan-9-so-luong-can-ho.html">
                                <img src="Uploads/shop149/images/project/property-small-3-270x200.png" class="img-responsive" />
                            </a>
                            <span class="rent">Cho thu&#234;</span>
                            <div class="thumbnail">
                                <a href="tai-sao-chung-cu-goldmark-city-moi-chi-ban-duoc-gan-9-so-luong-can-ho.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="tai-sao-chung-cu-goldmark-city-moi-chi-ban-duoc-gan-9-so-luong-can-ho.html">
                                    TAI SAO CHUNG CƯ GOLDMARK CITY MỚI CHỈ B&#193;N ĐƯỢC GẦN 9% SỐ LƯỢNG CĂN HỘ
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="cty-cp-ez-viet-nam-san-gia-dich-bds-ez-don-vi-phan-phoi-doc-quyen-duy-nhat-du-an-87-linh-nam.html">
                                <img src="Uploads/shop149/images/project/house3.jpg" class="img-responsive" />
                            </a>
                            <span class="rent">Cho thu&#234;</span>
                            <div class="thumbnail">
                                <a href="cty-cp-ez-viet-nam-san-gia-dich-bds-ez-don-vi-phan-phoi-doc-quyen-duy-nhat-du-an-87-linh-nam.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="cty-cp-ez-viet-nam-san-gia-dich-bds-ez-don-vi-phan-phoi-doc-quyen-duy-nhat-du-an-87-linh-nam.html">
                                    CTY CP EZ VIỆT NAM, S&#192;N GIA DỊCH BĐS EZ( ĐƠN VỊ PH&#194;N PHỐI ĐỘC QUYỀN DUY
                                    NHẤT DỰ &#193;N 87 LĨNH NAM
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="day-ly-do-tai-sao-voi-18-ty-nen-chon-mua-can-ho-15-ngu-tai-vinhomes-times-city-park-hill.html">
                                <img src="Uploads/shop149/images/project/house4.jpg" class="img-responsive" />
                            </a>
                            <span class="rent">Mua b&#225;n</span>
                            <div class="thumbnail">
                                <a href="day-ly-do-tai-sao-voi-18-ty-nen-chon-mua-can-ho-15-ngu-tai-vinhomes-times-city-park-hill.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="day-ly-do-tai-sao-voi-18-ty-nen-chon-mua-can-ho-15-ngu-tai-vinhomes-times-city-park-hill.html">
                                    Đ&#194;Y! L&#221; DO TẠI SAO VỚI 1.8 TỶ N&#202;N CHỌN MUA CĂN HỘ 1.5 NGỦ TẠI
                                    VINHOMES TIMES CITY PARK HILL
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="property-item clearfix">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a href="goldmark-city-can-ho-5_-noi-ban-va-gia-dinh-tha-hon-vao-thien-nhien-gia-chi-tu-196-ty.html">
                                <img src="Uploads/shop149/images/project/House-8-370x300.jpg" class="img-responsive" />
                            </a>
                            <span class="rent">Mua b&#225;n</span>
                            <div class="thumbnail">
                                <a href="goldmark-city-can-ho-5_-noi-ban-va-gia-dinh-tha-hon-vao-thien-nhien-gia-chi-tu-196-ty.html"
                                    class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a href="goldmark-city-can-ho-5_-noi-ban-va-gia-dinh-tha-hon-vao-thien-nhien-gia-chi-tu-196-ty.html">
                                    GOLDMARK CITY CĂN HỘ 5*, NƠI BẠN V&#192; GIA Đ&#204;NH THẢ HỒN V&#192;O THI&#202;N
                                    NHI&#202;N, GI&#193; CHỈ TỪ 1.96 TỶ
                                </a>
                            </h2>
                            <div class="property-date">Ngày đăng: 15/04/2015</div>
                            <div class="description hidden-xs">
                                <p>
                                    Mở bán chung cư cao cấp Goldmark City “Không gian Singapore trong lòng Hà Nội” – dự
                                    án đang tạo nên cơn sốt trên thị trường BĐS đầu năm 2015 do vị trí tuyệt đẹp, tiện
                                    ích hiện đại kết hợp với thiên nhiên hoàn hảo cùng mức giá rất hợp lý!.</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span>0đ</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>