<section class="property-content clearfix">
    <h1 class="title clearfix">
        <span>Kết quả tìm kiếm</span>
    </h1>
    <div class="property-tabs">
        <div class="property-block property-list clearfix">
            <div class="row">
                <div class="property-resize property-item-box clearfix">

                    <div class="property-item clearfix" *ngFor="let itemkq of ds_ForHTML" style="margin-bottom: 2px;">
                        <div class="image image-resize col-md-3 col-xs-12 col-sm-4">
                            <a [routerLink]="['/chi-tiet-du-an',itemkq.maDuAn]">
                                <img src="../assets/images/product/{{itemkq.mangHinh[0].tenhinh}}"
                                    class="img-responsive" style="width: 100%;" />
                            </a>
                            <span class="rent">{{itemkq.danhMuc.tenDanhMuc}}</span>
                            <div class="thumbnail">
                                <a [routerLink]="['/chi-tiet-du-an',itemkq.maDuAn]" class="zoom">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block col-md-9 col-xs-12 col-sm-8">
                            <h2 class="name">
                                <a [routerLink]="['/chi-tiet-du-an',itemkq.maDuAn]">
                                    {{itemkq.tenDuAn}}
                                </a>
                            </h2>
                            <div class="property-date"><span>Ngày
                                    đăng:</span>{{itemkq.ngayDang | date: 'dd-MM-yyyy'}}
                            </div>
                            <div class="description hidden-xs">
                                <p>
                                    {{itemkq.noiDungTomTat}}</p>
                            </div>
                            <ul class="detail clearfix">
                                <li><i class="fa fa-map-marker"></i><span></span></li>

                                <li><i class="fa fa-dollar"></i><span> {{itemkq.giaTien}} <sup>đ</sup></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Phân trang-->
            <div class="navigation" *ngIf="ds_page.length >=2">
                <ul class="pagination">
                    <li *ngFor="let page of ds_page" [ngClass]="{'active':currentPage===page.value?true:false}"><a
                            [routerLink]="['/tim-kiem']" (click)="createPhanTrang(page.value)">{{page.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>