<section class="project-content clearfix">
    <nav class="navbar navbar-default project-filter">
        <ul class="display">
            <li id="grid" [ngClass]="{'active':status, 'grid':true}" (click)="changeStatus('/san-giao-dich')">
                <a [routerLink]="['/san-giao-dich']"><i class="glyphicon glyphicon-th-list"></i></a></li>
            <li id="list" [ngClass]="{'active':!status, 'list':true}" (click)="changeStatus('/san-giao-dich/grid')">
                <a [routerLink]="['/san-giao-dich/grid']" title="List"><i class="glyphicon glyphicon-th"></i></a></li>
        </ul>
    </nav>
    <!--Hien thi sàn giao dịch dạng grid hoặc list-->
    <!--<du-an-list></du-an-list> <du-an-grid></du-an-grid>-->

    <div class="property-tabs">
        <ul class="nav nav-tabs">
            <li role="presentation" *ngFor="let danhmuc of ds_danhmuc" [ngClass]="{'active':danhmuc.isActive}"
                (click)="buttonChoThueClick(danhmuc)">
                <a [routerLink]="[pagethue]">{{danhmuc.tenDanhMuc}}</a>
            </li>
        </ul>
        <div class="property-block property-list clearfix">
            <div class="row">
                <div class="property-resize property-item-box clearfix">
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!--phân trang-->
    <div class="navigation" *ngIf="ds_page.length > 1">
        <ul class="pagination">
            <li *ngFor="let page of ds_page" [ngClass]="{'active':currentPagePhanTrang===page.value?true:false}"><a
                    [routerLink]="[pageCurrent]" (click)="createPhanTrang(page.value)">{{page.name}}</a>
            </li>
        </ul>
    </div>

</section>