<div class="row" style=" margin-top: -8px" (messageEvent)="receiveMessage($event)">
    <form id="form-add-duan" ng-submit="add()" [formGroup]="formThemDanhMuc">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM DANH MỤC</h1>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <label class="control-label" for="tenDanhMuc">Tên Danh Mục</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="tenDanhMuc" placeholder="Mua Bán"
                        formControlName="tenDanhMuc" [ngClass]="{ 'is-invalid': submitted && f.tenDanhMuc.errors }">
                    <div *ngIf="submitted && f.tenDanhMuc.errors" class="invalid-feedback">
                        <div *ngIf="f.tenDanhMuc.errors.required">Vui lòng nhập Tên Danh Mục</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Trạng Thái</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" style="width: 80%;" formControlName="trangThai"
                        (change)="selectTrangThai($event)">
                        <option *ngFor="let item of ds_trangthaiduan" value="{{item.matrangthai}}">
                            {{item.tentrangthai}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="isActive">isActive</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="isActive"
                        [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }">
                        <option value="true" selected="selected">True</option>
                        <option value="false">False</option>
                    </select>
                    <div *ngIf="submitted && f.isActive.errors" class="invalid-feedback">
                        <div *ngIf="f.isActive.errors.required">Vui lòng chọn isActive</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="statusAdd.status" class="invalid-feedback">
                    <div [innerHTML]="statusAdd.message | safeHtml"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="add()">Submit
                Danh Mục</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất Cả</button>&nbsp;&nbsp;
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>