<div class="breadcrumb clearfix">
    <ul>
        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
            <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                    chủ</span></a>
        </li>
        <li class="icon-li"><strong>Đăng nhập</strong> </li>
    </ul>
</div>
<script type="text/javascript">
    $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
</script>

<div class="login-content clearfix">
    <h1 class="title clearfix"><span>Đăng nhập hệ thống</span></h1>

    <!-- loi -->
    <div *ngIf="submitted && !f.email.errors && !f.pass.errors" class="alert alert-success fade in">
        <button data-dismiss="alert" class="close"></button>
        <i class="fa-fw fa fa-check"></i>
        <strong>Thành công!</strong> Email và Password hợp lệ.
    </div>
    <div *ngIf="submitted && f.email.errors" class="alert alert-danger fade in">
        <button data-dismiss="alert" class="close"></button>
        <i class="fa-fw fa fa-times"></i>
        <strong *ngIf="f.email.errors.required">Error! Vui lòng nhập Email</strong>
        <strong *ngIf="f.email.errors.pattern">Error! Email sai định dạng</strong>
        <span ng-bind-html="Message"></span>
    </div>
    <div *ngIf="submitted && f.pass.errors" class="alert alert-danger fade in">
        <button data-dismiss="alert" class="close"></button>
        <i class="fa-fw fa fa-times"></i>
        <strong *ngIf="f.pass.errors.required">Error! Vui lòng nhập Password!</strong>
        <span ng-bind-html="Message"></span>
    </div>
    <div *ngIf="error.status" class="alert alert-danger fade in">
        <button data-dismiss="alert" class="close"></button>
        <i class="fa-fw fa fa-times"></i>
        <strong>{{error.message}}</strong>
        <span ng-bind-html="Message"></span>
    </div>
    <!-- loi -->
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
        <form class="form-horizontal" [formGroup]="formDangNhap" (ngSubmit)="dangNhap()">
            <div class="form-group">
                <label for="Email" class="col-sm-4 control-label">Email:</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" formControlName="email" (change)="changedata()" />

                </div>
            </div>
            <div class="form-group">
                <label for="Password" class="col-sm-4 control-label">Mật khẩu:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="pass" (change)="changedata()" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="button" class="btn btn-default" (click)="dangNhap()">Đăng nhập</button>
                    <a [routerLink]="['/quen-mat-khau']">Quên mật khẩu</a>
                </div>

            </div>
        </form>
    </div>
</div>