<header-component></header-component>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">

                    <!-- nội dung dự án chi tiết 
                    <du-an-chi-tiet-module></du-an-chi-tiet-module>-->
                </div>
                <div class="col-md-3">
                    <!-- dự án nổi bật -->
                    <!--component dự án nổi bật-->
                    <du-an-noi-bat></du-an-noi-bat>
                    <!--component dự án nổi bật-->
                </div>
            </div>
        </div>
    </div>
</div>
<doi-tac></doi-tac>
<footer-component></footer-component>