<div class="news-content">
    <div class="news-block clearfix">
        <!--Item 1-->
        <div *ngFor="let duan of dsDuAN">
            <div class="news-item clearfix">
                <div class="col-md-3 col-sm-4 col-xs-12 image"><a [routerLink]="['/chi-tiet-du-an',duan.maDuAn]">
                        <img src="../../../../assets/images/product/{{duan.mangHinh[0].tenhinh}}" class="img-responsive"
                            alt="{{duan.mangHinh[0].alt}}" /></a></div>
                <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                    <h2 class="name"><a [routerLink]="['/chi-tiet-du-an',duan.maDuAn]">{{duan.tenDuAn}}</a></h2>
                    <p class="date">Ngày đăng:{{duan.ngayDang}}</p>
                    <div class="desc">
                        <p>
                            <span
                                style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">Sở
                                {{duan.noiDungTomTat}}</span></p>
                        <span><i class="fa fa-map-marker"></i>{{duan.tinhThanhPho}}</span> &nbsp;&nbsp; <span><i
                                class="fa fa-credit-card"></i>{{duan.giaTien | number}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="navigation">
            <ul class="pagination">
                <li>
                    <a href="index2679.html?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li *ngFor="let item of collection"><a href="#">2</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>