<div class="breadcrumb clearfix">
    <ul>
        <li itemtype="#" itemscope="" class="home">
            <a title="Đến trang chủ" [routerLink]="['/trang-chu']" itemprop="url"><span itemprop="title">Trang
                    chủ</span></a>
        </li>
        <li class="icon-li"><strong>Tin tức</strong> </li>
    </ul>
</div>
<script type="text/javascript">
    $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
</script>

<div class="news-content">
    <h1 class="title clearfix"><i class="fa fa-newspaper-o"></i><span>Tin tức</span></h1>
    <div class="news-block clearfix">
        <!--Item 1-->
        <div *ngFor="let tin of ds_ForHTML">
            <div class="news-item clearfix">
                <div class="col-md-3 col-sm-4 col-xs-12 image"><a [routerLink]="['/tin-tuc-chi-tiet',tin.matintuc]">
                        <!-- <img src="../../../../assets/images/product/{{tin.hinhanh[0].tenhinh}}" class="img-responsive"
                            alt="{{tin.hinhanh[0].alt}}" /></a> -->
                        <img src="{{urlImage}}get-images/{{tin.hinhanh[0].tenhinh}}" class="img-responsive"
                            alt="{{tin.hinhanh[0].alt}}" /></a>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                    <h2 class="name"><a [routerLink]="['/tin-tuc-chi-tiet',tin.matintuc]">{{tin.tentintuc}}</a>
                    </h2>
                    <p class="date">{{tin.ngaydang}}</p>
                    <div class="desc">
                        <p>
                            <span
                                style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">{{tin.noidungtomtat}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Phân trang-->
    <div class="navigation" *ngIf="ds_ketQua.length >=2">
        <ul class="pagination">
            <li *ngFor="let page of ds_page" [ngClass]="{'active':currentPage===page.value?true:false}"><a
                    [routerLink]="['/tin-tuc']" (click)="createPhanTrang(page.value)">{{page.name}}</a>
            </li>
        </ul>
    </div>
</div>