<div class="breadcrumb clearfix">
    <ul>
        <li itemtype="#" itemscope="" class="home">
            <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                    chủ</span></a>
        </li>
        <li class="icon-li"><strong>Tin tức</strong> </li>
    </ul>
</div>
<script type="text/javascript">
    $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
</script>

<div class="news-content">
    <h1 class="title clearfix"><i class="fa fa-newspaper-o"></i><span>Tin tức</span></h1>
    <div class="news-block clearfix">
        <!--Item 1-->
        <div *ngFor="let tin of noidungtintuc">
            <div class="news-item clearfix">
                <div class="col-md-3 col-sm-4 col-xs-12 image"><a [routerLink]="['/tin-tuc-chi-tiet',tin.matintuc]">
                        <img src="../../../../assets/images/product/{{tin.hinhanh[0].tenhinh}}" class="img-responsive"
                            alt="{{tin.hinhanh[0].alt}}" /></a></div>
                <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                    <h2 class="name"><a [routerLink]="['/tin-tuc-chi-tiet',tin.matintuc]">{{tin.tentintuc}}</a></h2>
                    <p class="date">{{tin.ngaydang}}</p>
                    <div class="desc">
                        <p>
                            <span style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">{{tin.noidungtomtat}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--Item 2-->
        <!-- <div class="news-item clearfix">
            <div class="col-md-3 col-sm-4 col-xs-12 image"><a href="tin-tuc/lai-nong-doi-tuong-cho-vay-goi-30000-ty-dong.html"><img
                        src="../../../../assets/images/product/4.jpg" class="img-responsive" alt="LẠI N&#211;NG ĐỐI TƯỢNG CHO VAY G&#211;I 30.000 TỶ ĐỒNG " /></a></div>
            <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                <h2 class="name"><a href="tin-tuc/lai-nong-doi-tuong-cho-vay-goi-30000-ty-dong.html">LẠI
                        N&#211;NG ĐỐI TƯỢNG CHO VAY G&#211;I 30.000 TỶ ĐỒNG </a></h2>
                <p class="date">14/04/2015</p>
                <div class="desc">
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">Phó
                            thủ tướng Hoàng Trung Hải vừa có ý kiến về đề xuất của Bộ Xây dựng mở
                            rộng đối tượng vay của gói 30.000 tỷ nhằm đẩy nhanh việc giải ngân.</span></p>
                </div>
            </div>
        </div> -->
        <!--Item 3-->
        <!-- <div class="news-item clearfix">
            <div class="col-md-3 col-sm-4 col-xs-12 image"><a href="tin-tuc/gan-1000-ty-da-duoc-giai-ngan-trong-goi-30000-ty-dong.html"><img
                        src="../../../../assets/images/product/5.jpg" class="img-responsive" alt="GẦN 1.000 TỶ Đ&#195; ĐƯỢC GIẢI NG&#194;N TRONG G&#211;I 30.000 TỶ ĐỒNG " /></a></div>
            <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                <h2 class="name"><a href="tin-tuc/gan-1000-ty-da-duoc-giai-ngan-trong-goi-30000-ty-dong.html">GẦN
                        1.000 TỶ Đ&#195; ĐƯỢC GIẢI NG&#194;N TRONG G&#211;I 30.000 TỶ ĐỒNG </a></h2>
                <p class="date">14/04/2015</p>
                <div class="desc">
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">Theo
                            báo cáo mới nhất của Bộ Xây dựng, tính đến ngày 15-4-2014, tổng số tiền
                            các bên đã cam kết là 3.365,9 tỷ đồng, tổng dư nợ là 1.699,4 tỷ đồng.
                            Trong đó, các ngân hàng đã ký hợp đồng cam kết cho vay 3.962 hộ với số
                            tiền là 1.504 tỷ đồng (vay mua nhà ở xã hội là 2.297 hộ với số tiền là
                            711 tỷ đồng; vay để mua nhà ở thương mại là 1.665 hộ với số tiền là 793
                            tỷ đồng)</span></p>
                </div>
            </div>
        </div> -->
        <!--Item 4-->
        <!-- <div class="news-item clearfix">
            <div class="col-md-3 col-sm-4 col-xs-12 image"><a href="tin-tuc/thu-pham-lam-gia-bat-dong-san-tang-cao.html"><img
                        src="../../../../assets/images/product/6.jpg" class="img-responsive" alt="THỦ PHẠM L&#192;M GI&#193; BẤT ĐỘNG SẢN TĂNG CAO" /></a></div>
            <div class="col-md-9 col-sm-8 col-xs-12 news-info ">
                <h2 class="name"><a href="tin-tuc/thu-pham-lam-gia-bat-dong-san-tang-cao.html">THỦ
                        PHẠM L&#192;M GI&#193; BẤT ĐỘNG SẢN TĂNG CAO</a></h2>
                <p class="date">14/04/2015</p>
                <div class="desc">
                    <p>
                        <span style="color: rgb(102, 102, 102); font-family: Arial, helvetica, sans-serif; font-size: 13px; line-height: 20px; text-align: justify;">Ông
                            Nguyễn Quốc Hiệp - Chủ tịch Hội đồng quản trị Công ty Cổ phần Đầu Tư
                            Dầu Khí Toàn Cầu (GP.INVEST) cho biết, trong cơ cấu giá thành bất động
                            sản, nguyên nhân làm giá thành cao chính là cách tính giá chuyển quyền
                            sử dụng đất hiện nay.</span></p>
                </div>
            </div>
        </div> -->
    </div>
</div>