<div class="col-md-3">
    <div class="menu-about">
        <h3>
            <span>
                Hướng dẫn
            </span>
        </h3>
        <ul>
            <!--doi thanh routerLink vao app.routing.ts them link giong trong grid list
                them router-outlet trong cho right-->
            <!-- <li id="linhvuc" *ngFor="let gioithieu of ds_gioithieu">
                <a [routerLink]="['/gioi-thieu']" (click)="setGioiThieu(gioithieu)">
                    {{gioithieu.tieude}}
                </a>
            </li> -->
        </ul>
    </div>
</div>