<section class="gallery-home clearfix">
    <h1 class="title clearfix">
        <i class="fa fa-list"></i>
        <span>Thư viện ảnh</span>
    </h1>
    <div class="gallery-block">
        <div class="row">
            <!--thu vien 1-->
            <div class="col-md-6 gallery-item gallery-large-item">
                <div class="image">
                    <a href="#" data-id="84">
                        <img src="..\assets\images\product\8.jpg" class="img-responsive">
                    </a>
                    <div class="name">
                        <a href="#" data-id="84">CBCNV LANMAK THĂM V&#192; TẶNG QU&#192; TT NU&#212;I
                            DƯỠNG NGƯỜI GI&#192; V&#192; TRẺ T&#192;N TẬT H&#192; NỘI 2010</a>
                    </div>
                </div>
            </div>
            <!--thu vien 2-->
            <div class="col-md-3 gallery-item gallery-small-item">
                <div class="image">
                    <a href="thu-vien-anh/dai-hoi-chi-bo-lanmak-lan-thu-i-nhiem-ky-2010-2015-.html" data-id="85">
                        <img src="..\assets\images\product\1.png" class="img-responsive">
                    </a>
                    <div class="name">
                        <a href="#" data-id="85">ĐẠI
                            HỘI CHI BỘ LANMAK LẦN THỨ I, NHIỆM KỲ (2010 -
                            2015)</a>
                    </div>
                </div>
            </div>
            <!--thu vien 3-->
            <div class="col-md-3 gallery-item gallery-small-item">
                <div class="image">
                    <a href="#" data-id="86">
                        <img src="..\assets\images\product\3.png" class="img-responsive">
                    </a>
                    <div class="name">
                        <a href="#" data-id="86">THAM GIA HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY
                            X&#194;Y DỰNG H&#192; NỘI</a>
                    </div>
                </div>
            </div>
            <!--thu vien 4-->
            <div class="col-md-3 gallery-item gallery-small-item">
                <div class="image">
                    <a href="#" data-id="87">
                        <img src="..\assets\images\product\15.png" class="img-responsive">
                    </a>
                    <div class="name">
                        <a href="#" data-id="87">THAM GIA GIAO HỮU B&#211;NG Đ&#193; TẠI HỘI KHỎE LẦN
                            THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI</a>
                    </div>
                </div>
            </div>
            <!--thu vien 5-->
            <div class="col-md-3 gallery-item gallery-small-item">
                <div class="image">
                    <a href="#" data-id="88">
                        <img src="..\assets\images\product\11.jpg" class="img-responsive">
                    </a>
                    <div class="name">
                        <a href="#" data-id="88">ĐO&#192;N THANH NI&#202;N TẬP HUẤN SINH HOẠT NGOẠI
                            KH&#211;A CH&#192;O MỪNG NG&#192;Y 20-10</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>