<div class="row" style="margin-top: 0px; background: rgba(255, 255, 255, 0.925)">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="nav nav-tabs ">
            <li><a data-toggle="tab" href="javascript:void(0)" (click)="changeTab('home')">Biểu đồ doanh thu</a>
            </li>
            <li><a data-toggle="tab" href="javascript:void(0)" (click)="changeTab('menu1')">Thống kê bài đăng</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 style="color: #34495E;margin-left: 4%">
                        <i class="fa fa-cart-arrow-down"></i>Biểu Đồ Doanh Thu
                    </h1>
                </div>
                <div *ngIf="data else nguoclai" style="width: 90%; height: 700%;">
                    <canvas baseChart [chartType]="'bar'" [datasets]="chart_DATA" [labels]="chartLabels"
                        [options]="chartOptions" [legend]="true" (chartClick)="onChartClick($event)">
                    </canvas>
                </div>
                <ng-template #nguoclai>
                    <div class="fa-3x">
                        <div style="margin: auto; clear: both; text-align: center">
                            <h3 style="color: red">Chưa có dự án nào đã giao dịch!</h3>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div id="menu1" class="tab-pane fade ">
                <div class="row">
                    <div class="col-md-12">

                        <table class="rwd-table results" style="width: 90%;margin-left: 4%">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên Loại Giao Dịch</th>
                                    <th scope="col">Tổng Số Dự Án</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arrTongSo; let i=index">
                                    <td data-th="#">{{i}}</td>
                                    <td data-th="Mã nhân viên">{{item.tenloai}}</td>
                                    <td data-th="Tên Nhân Viên">{{item.tongso}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>