<header-component></header-component>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="breadcrumb clearfix">
                        <ul>
                            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                                <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                                        chủ</span></a>
                            </li>
                            <li class="icon-li"><strong>Sàn giao dịch</strong> </li>
                        </ul>
                    </div>
                    <h1 class="title clearfix">
                        <i class="fa fa-list"></i>
                        <span>Sàn giao dịch</span>
                    </h1>
                    <san-giao-dich></san-giao-dich>
                </div>
                <div class="col-md-3">
                    <!-- Chen san giao dich -->
                    <div class="menu-property">
                        <h3 class="title clearfix">
                            <span>Sàn giao dịch</span>
                        </h3>
                        <ul>
                            <li><a href='san-giao-dich/dat-nen-21.html'><i class='fa fa-arrow-circle-o-right'></i>Đất
                                    nền</a></li>
                            <li><a href='san-giao-dich/dat-tho-cu-22.html'><i class='fa fa-arrow-circle-o-right'></i>Đất
                                    thổ cư</a></li>
                            <li><a href='san-giao-dich/chung-cu-23.html'><i class='fa fa-arrow-circle-o-right'></i>Chung
                                    cư</a></li>
                            <li><a href='san-giao-dich/nha-pho-24.html'><i class='fa fa-arrow-circle-o-right'></i>Nhà
                                    phố</a></li>
                        </ul>
                    </div>
                    <!--Chen khung search ben phai -->
                    <!--component search-->
                    <search-component></search-component>
                    <!--component search-->
                </div>
            </div>
        </div>
    </div>
</div>
<doi-tac></doi-tac>
<footer-component></footer-component>