<div class="adv-content row">
    <div class="owl-carousel">
        <ul id="adv-content">
            <li *ngFor="let banner of ds_banner.mangHinh">
                <a href="javaScript:void(0)"><img src="..\assets\images\panner-top\{{banner.tenhinh}}"
                        class="img-responsive" alt="{{banner.alt}}" /></a>
            </li>
        </ul>
        <div class="controls boxprevnext">
            <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
            <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>