<div class="adv-content row">
    <div class="owl-carousel">
        <ul id="adv-content">
            <li>
                <a href="#"><img src="..\assets\images\panner-top\panner-top1.jpg" class="img-responsive" /></a>
            </li>
            <li>
                <a href="#"><img src="..\assets\images\panner-top\panner-top2.jpg" class="img-responsive" /></a>
            </li>
            <li>
                <a href="#"><img src="..\assets\images\panner-top\panner-top3.jpg" class="img-responsive" /></a>
            </li>
            <li>
                <a href="#"><img src="..\assets\images\panner-top\panner-top4.jpg" class="img-responsive" /></a>
            </li>
        </ul>
        <div class="controls boxprevnext">
            <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
            <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>