<div class="wrapper">
    <header-component></header-component>
    <div class="main">
        <div class="container">
            <div class="row">
                <!--content left danh muc gioi thieu-->
                <danh-muc-gioi-thieu></danh-muc-gioi-thieu>
                <!--content left danh muc gioi thieu-->
                <!--content right noi dung gioi thieu-->
                <noi-dung-gioi-thieu></noi-dung-gioi-thieu>
                <!--content right noi dung gioi thieu-->
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</div>