<div class="header">
    <section class="top-link clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav topmenu-contact pull-left">
                        <li><i class="fa fa-phone"></i> <span>Hotline:{{congty.hotlineCongTy}}</span></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                        <li *ngFor="let menu of menu_top" class="{{menu.classMenu}}" routerLinkActive="active">
                            <a [routerLink]="[menu.codeMenu]"><i class="{{menu.iconMenu}}"></i>
                                {{menu.nameMenu}}</a>
                        </li>
                    </ul>
                    <div class="show-mobile hidden-lg hidden-md">
                        <div class="quick-access">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="links">
                                    <li *ngFor="let menu of menu_top" class="{{menu.classMenu}}"
                                        routerLinkActive="active">
                                        <a [routerLink]="[menu.codeMenu]"><i class="{{menu.iconMenu}}"></i>
                                            {{menu.nameMenu}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="header-content clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-12 header-left text-center">
                    <div class="logo">
                        <a [routerLink]="['/trang-chu']" title="{{congty.tenCongTy}}">
                            <img alt="{{congty.tenCongTy}}" src="../assets/images/icon/{{congty.logoCongTy}}"
                                class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12 col-sm-12 header-right hidden-sm hidden-xs">
                    <div class="contact-info-blocks">
                        <div class="contact-info-item">
                            <i class="fa fa-phone"></i> Tư vấn miễn phí
                            <span>{{congty.soDienThoaiCongTy}}</span>
                        </div>
                        <div class="contact-info-item">
                            <i class="fa fa-envelope"></i> Email
                            <span>{{congty.emailCongTy}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="navigation-menu clearfix header-menu" id="myHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <nav class="navbar nav-menu">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse"
                                data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="true"
                                (click)="toggleMenu()">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <nav id="mobile-menu" class="mobile-menu navbar-collapse collapse" aria-expanded="false">
                            <ul class="menu nav navbar-nav">
                                <li *ngFor="let menu of menu_bottom;" [ngClass]="{'level0':true}"
                                    routerLinkActive="active">
                                    <a class="" [routerLink]="[menu.codeMenu]"><span>{{menu.nameMenu}}</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>