.header-menu {
   z-index: 999999;
  }
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky-menu {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky-menu + .content-menu {
    padding-top: 102px;
  }