<div class="header">
    <section class="top-link clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav navbar-nav topmenu-contact pull-left">
                        <li><i class="fa fa-phone"></i> <span>Hotline:0268 78 78 78</span></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right topmenu  hidden-xs hidden-sm">
                        <li class="order-check"><a href="kiem-tra-don-hang.html"><i class="fa fa-pencil-square-o"></i>
                                Kiểm tra đơn hàng</a></li>
                        <li class="order-cart"><a [routerLink]="['/gio-hang']"><i class="fa fa-shopping-cart"></i> Giỏ
                                hàng</a></li>
                        <li class="account-login"><a [routerLink]="['/dang-nhap']"><i class="fa fa-sign-in"></i> Đăng
                                nhập </a></li>
                        <li class="account-register"><a [routerLink]="['/dang-ky']"><i class="fa fa-key"></i> Đăng ký
                            </a></li>
                    </ul>
                    <div class="show-mobile hidden-lg hidden-md">
                        <div class="quick-user">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="login links">
                                    <li>
                                        <a [routerLink]="['/dang-ky']"><i class="fa fa-sign-in"></i> Đăng ký</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/dang-nhap']"><i class="fa fa-key"></i> Đăng nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="quick-access">
                            <div class="quickaccess-toggle">
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="inner-toggle">
                                <ul class="links">
                                    <li><a id="mobile-wishlist-total" href="kiem-tra-don-hang.html" class="wishlist"><i
                                                class="fa fa-pencil-square-o"></i> Kiểm tra đơn hàng</a></li>
                                    <li><a href="gio-hang.html" class="shoppingcart"><i class="fa fa-shopping-cart"></i>
                                            Giỏ hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="header-content clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-12 header-left text-center">
                    <div class="logo">
                        <a href="index.html" title="CÔNG TY TNHH BẤT ĐỘNG SẢN">
                            <img alt="CÔNG TY TNHH BẤT ĐỘNG SẢN" src="../assets/images/icon/logo.png" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12 col-sm-12 header-right hidden-sm hidden-xs">
                    <div class="contact-info-blocks">
                        <div class="contact-info-item">
                            <i class="fa fa-phone"></i> Tư vấn miễn phí
                            <span>0268 78 78 78</span>
                        </div>
                        <div class="contact-info-item">
                            <i class="fa fa-envelope"></i> Email
                            <span>nguyendinhqui1029@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="navigation-menu clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <nav class="navbar nav-menu">
                        <div class="navbar-header">
                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mobile-menu"
                                aria-controls="mobile-menu" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <nav id="mobile-menu" class="mobile-menu collapse navbar-collapse">
                            <ul class='menu nav navbar-nav'>
                                <li class="level0"><a class='' [routerLink]="['/trang-chu']"><span>Trang chủ</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/gioi-thieu']"><span>Giới thiệu</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/du-an']"><span>Dự án</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/dich-vu']"><span>Dịch vụ</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/tin-tuc']"><span>Tin tức</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/san-giao-dich']"><span>Sàn giao dịch</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/thu-vien-anh']"><span>Thư viện ảnh</span></a></li>
                                <li class="level0"><a class='' [routerLink]="['/lien-he']"><span>Liên hệ</span></a></li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            var str = location.href.toLowerCase();
            $("ul.menu li a").each(function () {
                if (str.indexOf(this.href.toLowerCase()) >= 0) {
                    $("ul.menu li").removeClass("active");
                    $(this).parent().addClass("active");
                }
            });
        });
    </script>
</div>