<div class="row" style=" margin-top: -8px">
    <form id="form-add-menu" ng-submit="add()" [formGroup]="formThemDoiTac">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM ĐỐI TÁC</h1>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="hoTen">Họ Tên</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="hoTen" placeholder="Họ Tên"
                        formControlName="hoTen" [ngClass]="{ 'is-invalid': submitted && f.hoTen.errors }">
                    <div *ngIf="submitted && f.hoTen.errors" class="invalid-feedback">
                        <div *ngIf="f.hoTen.errors.required">Vui lòng nhập Tên Đối tác</div>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="diaChi">Địa Chỉ</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="diaChi"
                        placeholder="123 Điện Biên Phủ, Bình Thạnh" formControlName="diaChi"
                        [ngClass]="{ 'is-invalid': submitted && f.diaChi.errors }">
                    <div *ngIf="submitted && f.diaChi.errors" class="invalid-feedback">
                        <div *ngIf="f.diaChi.errors.required">Vui lòng nhập Địa chỉ</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Ngày Sinh</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <div style="width: 80%;">
                        <div class="input-group date" data-date-format="dd.mm.yyyy">
                            <input id="filterDate2" type="text" class="form-control" placeholder="yyyy-MM-dd"
                                formControlName="ngaySinh" [ngClass]="{ 'is-invalid': submitted && f.ngaySinh.errors }">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tinhThanhPho">Tỉnh/TP</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" (change)="selectTinhThanhPho($event)">
                        <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Tỉnh/TP-----</option>
                        <option *ngFor="let item of ds_tinhthanhpho" value="{{item.v}}">
                            {{item.d}}</option>
                    </select>
                    <div *ngIf="submitted && tinhthanhphocodau.length === 0" class="invalid-feedback">
                        <div *ngIf="tinhthanhphocodau.length === 0">Vui lòng chọn Tỉnh/TP</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Quận/Huyện</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" (change)="selectQuanHuyen($event)">
                        <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Quận/Huyện-----</option>
                        <option *ngFor="let item of ds_quan" value="{{item.tenquanhuyenkhongdau}}">
                            {{item.tenquanhuyencodau}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="sdt">Số Điện Thoại</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="sdt" placeholder="(+84) 2998 8812"
                        formControlName="sdt" [ngClass]="{ 'is-invalid': submitted && f.sdt.errors }">
                    <div *ngIf="submitted && f.sdt.errors" class="invalid-feedback">
                        <div *ngIf="f.sdt.errors.required">Vui lòng nhập Số Điện Thoại</div>
                        <div *ngIf="f.sdt.errors.pattern">Số Điện Thoại không là kí tự</div>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="user">Tên Tài Khoản</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="user" placeholder="NguyenHoa123"
                        formControlName="user" [ngClass]="{ 'is-invalid': submitted && f.user.errors }">
                    <div *ngIf="submitted && f.user.errors" class="invalid-feedback">
                        <div *ngIf="f.user.errors.required">Vui lòng nhập Tên Tài Khoản</div>
                        <div *ngIf="f.user.errors.pattern">Tên Tài Khoản không hợp lệ</div>

                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label" for="pass">Mật Khẩu</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="password" style="width: 80%;" class="form-control" id="pass" placeholder="*"
                        formControlName="pass" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
                    <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                        <div *ngIf="f.pass.errors.required">Vui lòng nhập Mật Khẩu</div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group has-feedback">
                <label class="control-label" for="loaiTaiKhoan">Loại Tài Khoản</label>
                <div class="form-inline">
                    <input type="password" style="width: 80%;" class="form-control" id="loaiTaiKhoan" placeholder=""
                        formControlName="loaiTaiKhoan">
                </div>
            </div> -->
            <div class="form-group has-feedback">
                <label class="control-label" for="email">Email</label>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="email" placeholder=""
                        formControlName="email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="moTa">Mô Tả</label>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="width: 80%"
                        formControlName="moTa"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="loGo">LoGo</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="file" multiple (change)="changeImage($event)" style="width: 80%;" id="loGo">
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="statusAdd.status" class="invalid-feedback">
                    <div [innerHTML]="statusAdd.message"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="add()">Thêm Đối Tác</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất cả</button>&nbsp;&nbsp;
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>