<div class="contact-info">
    <div class="docs"><b class="name">{{thongtinCT.tenCongTy}}</b></div>
    <div class="docs">
        <i class="fa fa-map-marker"></i>
        <b>Địa chỉ:</b> {{thongtinCT.diaChiCongTy}}
    </div>
    <div class="docs">
        <i class="fa fa-phone"></i>
        <b>Điện thoại:</b> {{thongtinCT.tenCongTy}}
    </div>
    <div class="docs">
        <i class="fa fa-mobile"></i>
        <b>Hotline</b> {{thongtinCT.hotlineCongTy}}
    </div>
    <div class="docs">
        <i class="fa fa-fax"></i>
        <b>Fax:</b> {{thongtinCT.faxCongTy}}
    </div>
    <div class="docs">
        <i class="fa fa-envelope"></i>
        <b>Email:</b> {{thongtinCT.emailCongTy}}
    </div>
</div>