<div class="contact-info">
    <div class="docs"><b class="name">Tên công ty</b></div>
    <div class="docs">
        <i class="fa fa-map-marker"></i>
        <b>Địa chỉ:</b> Địa chỉ công ty
    </div>
    <div class="docs">
        <i class="fa fa-phone"></i>
        <b>Điện thoại:</b> số điện thoại
    </div>
    <div class="docs">
        <i class="fa fa-mobile"></i>
        <b>Hotline</b> hotline
    </div>
    <div class="docs">
        <i class="fa fa-fax"></i>
        <b>Fax:</b> Fax
    </div>
    <div class="docs">
        <i class="fa fa-envelope"></i>
        <a href="mailto: ">email</a>
    </div>
</div>