<div class="row" style=" margin-top: -8px">
    <form id="form-add-duan" ng-submit="add()" [formGroup]="formThemLoaiGiaoDich">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM LOẠI GIAO DỊCH</h1>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <label class="control-label" for="maLoai">Mã Loại GD</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="maLoai" placeholder="LGD00123"
                        formControlName="maLoai" [ngClass]="{ 'is-invalid': submitted && f.maLoai.errors }">
                    <div *ngIf="submitted && f.maLoai.errors" class="invalid-feedback">
                        <div *ngIf="f.maLoai.errors.required">Vui lòng nhập Mã Loại GD</div>
                        <div *ngIf="f.maLoai.errors.pattern">Mã Loại GD không hợp lệ</div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <label class="control-label" for="tenLoai">Tên Loại GD</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="tenLoai" placeholder="Chung Cư"
                        formControlName="tenLoai" [ngClass]="{ 'is-invalid': submitted && f.tenLoai.errors }">
                    <div *ngIf="submitted && f.tenLoai.errors" class="invalid-feedback">
                        <div *ngIf="f.tenLoai.errors.required">Vui lòng nhập Tên Loại GD</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="trangThai">Trạng Thái</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="trangThai"
                        [ngClass]="{ 'is-invalid': submitted && f.trangThai.errors }">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <div *ngIf="submitted && f.trangThai.errors" class="invalid-feedback">
                        <div *ngIf="f.trangThai.errors.required">Vui lòng chọn Trạng thái</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info" (click)="add()">Submit Loại GD</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất Cả</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-info" (click)="update()">Update Loại GD</button>

        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>