<div class="project-block project-grid clearfix">
    <div class="row">
        <!--du an 1-->
        <div class="col-md-3 col-sm-3 col-xs-12 project-item-box" *ngFor="let duan of dsDuAN">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/opal-riverside.html" title="{{duan.tenDuAn}}">
                        <img src="..\assets\images\product\{{duan.mangHinh[0].tenhinh}}" class="img-responsive" />
                    </a>
                    <span class="new">New</span>
                    <div class="thumbnail">
                        <a href="du-an/opal-riverside.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/opal-riverside.html" title="{{duan.tenDuAn}}">{{duan.tenDuAn}}</a>
                    </h2>
                </div>
            </div>
        </div>
        <!--du an 2-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/sunview-town.html" title="SUNVIEW TOWN">
                        <img src="..\assets\images\product\2.jpg" class="img-responsive" />
                    </a>
                    <span class="new">New</span>
                    <div class="thumbnail">
                        <a href="du-an/sunview-town.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/sunview-town.html" title="SUNVIEW TOWN">SUNVIEW TOWN</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 3-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/gold-hill-center.html" title="GOLD HILL CENTER">
                        <img src="..\assets\images\product\17.png" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/gold-hill-center.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/gold-hill-center.html" title="GOLD HILL CENTER">GOLD
                            HILL CENTER</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 4-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/saigonres-plaza.html" title="SAIGONRES PLAZA">
                        <img src="..\assets\images\product\18.jpg" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/saigonres-plaza.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/saigonres-plaza.html" title="SAIGONRES PLAZA">SAIGONRES
                            PLAZA</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 5-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/topaz-city.html" title="TOPAZ CITY">
                        <img src="..\assets\images\product\21.jpg" class="img-responsive" />
                    </a>
                    <span class="new">New</span>
                    <div class="thumbnail">
                        <a href="du-an/topaz-city.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/topaz-city.html" title="TOPAZ CITY">TOPAZ CITY</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 6-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/golden-west.html" title="GOLDEN WEST">
                        <img src="..\assets\images\product\16.png" class="img-responsive" />
                    </a>
                    <span class="new">New</span>
                    <div class="thumbnail">
                        <a href="du-an/golden-west.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/golden-west.html" title="GOLDEN WEST">GOLDEN WEST</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 7-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/my-son-tower.html" title="MỸ SƠN TOWER">
                        <img src="..\assets\images\product\15.png" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/my-son-tower.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/my-son-tower.html" title="MỸ SƠN TOWER">MỸ SƠN TOWER</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 8-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/phu-gia-hung-apartment.html" title="PH&#218; GIA HƯNG APARTMENT">
                        <img src="..\assets\images\product\10.jpg" class="img-responsive" />
                    </a>
                    <span class="new">New</span>
                    <div class="thumbnail">
                        <a href="du-an/phu-gia-hung-apartment.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/phu-gia-hung-apartment.html" title="PH&#218; GIA HƯNG APARTMENT">PH&#218;
                            GIA HƯNG APARTMENT xzx zcds asdasd asdas asda asdas asd asd ád</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 9-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/sunview-1-2.html" title="SUNVIEW 1&amp;2">
                        <img src="..\assets\images\product\12.jpg" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/sunview-1-2.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/sunview-1-2.html" title="SUNVIEW 1&amp;2">SUNVIEW
                            1&amp;2</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 10-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/the-morning-star.html" title="THE MORNING STAR">
                        <img src="..\assets\images\product\20.jpg" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/the-morning-star.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/the-morning-star.html" title="THE MORNING STAR">THE
                            MORNING STAR</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 11-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/khu-do-thi-five-star.html" title="KHU Đ&#212; THỊ FIVE STAR">
                        <img src="..\assets\images\product\19.jpg" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/khu-do-thi-five-star.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/khu-do-thi-five-star.html" title="KHU Đ&#212; THỊ FIVE STAR">KHU
                            Đ&#212; THỊ FIVE STAR</a>
                    </h2>
                </div>
            </div>
        </div> -->
        <!--du an 12-->
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 project-item-box">
            <div class="project-item project-resize">
                <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                    <a href="du-an/khu-do-thi-hung-phuoc.html" title="KHU Đ&#212; THỊ HƯNG PHƯỚC">
                        <img src="..\assets\images\product\20.jpg" class="img-responsive" />
                    </a>
                    <div class="thumbnail">
                        <a href="du-an/khu-do-thi-hung-phuoc.html" class="zoom">
                            <i class="glyphicon glyphicon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="right-block">
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="du-an/khu-do-thi-hung-phuoc.html" title="KHU Đ&#212; THỊ HƯNG PHƯỚC">KHU
                            Đ&#212; THỊ HƯNG PHƯỚC</a>
                    </h2>
                </div>
            </div>
        </div> -->
    </div>
</div>