<div class="box-project">
    <h3 class="title clearfix">
        <span>Dự án mới</span>
    </h3>

    <div class="box-project-block" *ngFor="let duannoibat of dsDuAN">
        <div class="item">
            <div class="image image-resize">
                <a [routerLink]="['/chi-tiet-du-an',duannoibat.maDuAn]" (click)="guiduanmoi(duannoibat)"
                    title="{{duannoibat.tenDuAn}}">
                    <img src="{{urlImage}}get-images/{{duannoibat.mangHinh[0].tenhinh}}" class="img-responsive" />
                </a>
                <span class="text">Mới</span>
                <div class="thumbnail">
                    <a [routerLink]="['/chi-tiet-du-an',duannoibat.maDuAn]" (click)="guiduanmoi(duannoibat)"
                        class="zoom">
                        <i class="glyphicon glyphicon-link"></i>
                    </a>
                </div>
            </div>
            <div class="right-block">
                <h2 class="name">
                    <a [routerLink]="['/chi-tiet-du-an',duannoibat.maDuAn]" (click)="guiduanmoi(duannoibat)"
                        title="{{duannoibat.tenDuAn}}">{{duannoibat.tenDuAn}}</a>
                </h2>
            </div>
        </div>
    </div>
</div>