<div class="box-project">
    <h3 class="title clearfix">
        <span>Dự án nổi bật</span>
    </h3>

    <div class="box-project-block" *ngFor="let duannoibat of dsDuAN">
        <div class="item">
            <div class="image image-resize">
                <a href="du-an/opal-riverside.html" title="{{duannoibat.tenDuAn}}">
                    <img src="../../../assets/images/product/{{duannoibat.mangHinh[0].tenhinh}}"
                        class="img-responsive" />
                </a>
                <span class="new">New</span>
                <div class="thumbnail">
                    <a href="du-an/opal-riverside.html" class="zoom">
                        <i class="glyphicon glyphicon-link"></i>
                    </a>
                </div>
            </div>
            <div class="right-block">
                <h2 class="name">
                    <a href="du-an/opal-riverside.html" title="{{duannoibat.tenDuAn}}">{{duannoibat.tenDuAn}}</a>
                </h2>
            </div>
        </div>
    </div>
</div>