<section class="gallery-content clearfix">
    <h1 class="title clearfix">
        <i class="fa fa-list"></i>
        <span>Thư viện ảnh</span>
    </h1>
    <div class="gallery-block">
        <div class="row">
            <!--Item 1-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="84">
                            <img class="img-responsive" src="../../../../assets/images/product/7.jpg" alt="CBCNV LANMAK THĂM V&#192; TẶNG QU&#192; TT NU&#212;I DƯỠNG NGƯỜI GI&#192; V&#192; TRẺ T&#192;N TẬT H&#192; NỘI 2010"
                                title="CBCNV LANMAK THĂM V&#192; TẶNG QU&#192; TT NU&#212;I DƯỠNG NGƯỜI GI&#192; V&#192; TRẺ T&#192;N TẬT H&#192; NỘI 2010" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="84">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="thu-vien-anh/cbcnv-lanmak-tham-va-tang-qua-tt-nuoi-duong-nguoi-gia-va-tre-tan-tat-ha-noi-2010.html"
                            data-id="84">
                            CBCNV LANMAK THĂM V&#192; TẶNG QU&#192; TT NU&#212;I DƯỠNG NGƯỜI
                            GI&#192; V&#192; TRẺ T&#192;N TẬT H&#192; NỘI 2010
                        </a>
                    </h2>
                </div>
            </div>
            <!--Item 1-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="85">
                            <img class="img-responsive" src="../../../../assets/images/product/8.jpg" alt="ĐẠI HỘI CHI BỘ LANMAK LẦN THỨ I, NHIỆM KỲ (2010 - 2015)"
                                title="ĐẠI HỘI CHI BỘ LANMAK LẦN THỨ I, NHIỆM KỲ (2010 - 2015)" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="85">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="thu-vien-anh/dai-hoi-chi-bo-lanmak-lan-thu-i-nhiem-ky-2010-2015-.html" data-id="85">
                            ĐẠI HỘI CHI BỘ LANMAK LẦN THỨ I, NHIỆM KỲ (2010 - 2015)
                        </a>
                    </h2>
                </div>
            </div>
            <!--Item 2-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="86">
                            <img class="img-responsive" src="../../../../assets/images/product/2.jpg" alt="THAM GIA HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI"
                                title="THAM GIA HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="86">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="#" data-id="86">
                            THAM GIA HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG
                            H&#192; NỘI
                        </a>
                    </h2>
                </div>
            </div>
            <!--Item 3-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="87">
                            <img class="img-responsive" src="../../../../assets/images/product/9.jpg" alt="THAM GIA GIAO HỮU B&#211;NG Đ&#193; TẠI HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI"
                                title="THAM GIA GIAO HỮU B&#211;NG Đ&#193; TẠI HỘI KHỎE LẦN THỨ IX – TỔNG C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="87">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="#" data-id="87">
                            THAM GIA GIAO HỮU B&#211;NG Đ&#193; TẠI HỘI KHỎE LẦN THỨ IX – TỔNG
                            C&#212;NG TY X&#194;Y DỰNG H&#192; NỘI
                        </a>
                    </h2>
                </div>
            </div>
            <!--Item 4-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="88">
                            <img class="img-responsive" src="../../../../assets/images/product/21.jpg" alt="ĐO&#192;N THANH NI&#202;N TẬP HUẤN SINH HOẠT NGOẠI KH&#211;A CH&#192;O MỪNG NG&#192;Y 20-10"
                                title="ĐO&#192;N THANH NI&#202;N TẬP HUẤN SINH HOẠT NGOẠI KH&#211;A CH&#192;O MỪNG NG&#192;Y 20-10" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="88">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="#" data-id="88">
                            ĐO&#192;N THANH NI&#202;N TẬP HUẤN SINH HOẠT NGOẠI KH&#211;A
                            CH&#192;O MỪNG NG&#192;Y 20-10
                        </a>
                    </h2>
                </div>
            </div>
            <!--Item 5-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="gallery-item gallery-resize">
                    <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                        <a href="#" data-id="89">
                            <img class="img-responsive" src="../../../../assets/images/product/20.jpg" alt="ĐẠI HỘI CỔ Đ&#212;NG THƯỜNG NI&#202;N 2011"
                                title="ĐẠI HỘI CỔ Đ&#212;NG THƯỜNG NI&#202;N 2011" />
                        </a>
                        <div class="thumbnail">
                            <a href="#" class="zoom" data-id="89">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="#" data-id="89">
                            ĐẠI HỘI CỔ Đ&#212;NG THƯỜNG NI&#202;N 2011
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>