<!--Search of trang chu-->
<div class="adv" *ngIf="search === modeSearch.SEARCH_CENTER; else  search_right">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="advance-search">
                    <div class="item-adv-search">
                        <div class="top-title">
                            <i class="fa fa-search"></i><span>Tìm kiếm</span>
                        </div>
                        <div class="form-search clearfix">
                            <div class=col-md-12>
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="form-control" (change)="changeDanhMuc($event)">
                                                <option *ngFor="let dm of dsDanhMuc" value="{{dm.maDanhMuc}}">
                                                    {{dm.tenDanhMuc}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" (change)="changeLoaiGiaoDich($event)">
                                                <option *ngFor="let loaigiaodich of dsLoaiGiaoDich"
                                                    value="{{loaigiaodich.maLoaiGiaoDich}}">
                                                    {{loaigiaodich.tenLoaiGiaoDich}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" (change)="changeQuanHuyen($event)">
                                                <option *ngFor="let obQuanHuyen of dsQuanHuyen"
                                                    value="{{obQuanHuyen.maquanhuyen}}">
                                                    {{obQuanHuyen.tenquanhuyen}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <!--Chọn tỉnh thanh phố-->
                                            <select class="form-control" (change)="changeTinhThanhPho($event)">
                                                <option *ngFor="let obTinhThanhPho of dsTinhThanhPho"
                                                    value="{{obTinhThanhPho.matinhThanhPho}}">
                                                    {{obTinhThanhPho.tentinhThanhPho}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" (change)="changeMucGia($event)">
                                                <option *ngFor="let obMucGia of dsMucGia"
                                                    value="{{obMucGia.magiaTien}}">
                                                    {{obMucGia.tengiaTien}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="button" class="btn btn-default" (click)="clickTimKiem()"
                                                value="TÌM KIẾM" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search -->
<ng-template #search_right>
    <div class="menu-search">
        <h3 class="title clearfix">
            <i class="fa fa-search"></i> <span>Tìm kiếm</span>
        </h3>
        <div class="form-search">
            <ul>
                <li>
                    <select class="form-control" (change)="changeDanhMuc($event)">
                        <option *ngFor="let dm of dsDanhMuc" value="{{dm.maDanhMuc}}">
                            {{dm.tenDanhMuc}}</option>
                    </select>
                </li>
                <li>
                    <select class="form-control" (change)="changeLoaiGiaoDich($event)">
                        <option *ngFor="let loaigiaodich of dsLoaiGiaoDich" value="{{loaigiaodich.maLoaiGiaoDich}}">
                            {{loaigiaodich.tenLoaiGiaoDich}}</option>
                    </select>
                </li>
                <li>
                    <select class="form-control" (change)="changeQuanHuyen($event)">
                        <option *ngFor="let obQuanHuyen of dsQuanHuyen" value="{{obQuanHuyen.maquanhuyen}}">
                            {{obQuanHuyen.tenquanhuyen}}</option>
                    </select>
                </li>
                <li>
                    <select class="form-control" (change)="changeTinhThanhPho($event)">
                        <option *ngFor="let obTinhThanhPho of dsTinhThanhPho" value="{{obTinhThanhPho.matinhThanhPho}}">
                            {{obTinhThanhPho.tentinhThanhPho}}</option>
                    </select>
                </li>
                <li>
                    <select class="form-control" (change)="changeMucGia($event)">
                        <option *ngFor="let obMucGia of dsMucGia" value="{{obMucGia.magiaTien}}">
                            {{obMucGia.tengiaTien}}</option>
                    </select>
                </li>
                <li><a href="javascript:void(0)" id="btnSearchExchange" class="btn btn-default">Tìm
                        kiếm</a></li>
            </ul>
        </div>
    </div>
</ng-template>