<div class="col-md-9">

    <div class="breadcrumb clearfix">
        <ul>
            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                        chủ</span></a>
            </li>
            <li class="icon-li"><strong>Giới thiệu</strong> </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
    </script>
    <!-- nội dung giới thiệu -->


</div>