<div class="col-md-9">

    <div class="breadcrumb clearfix">
        <ul>
            <li class="home">
                <a title="Đến trang chủ" [routerLink]="['/trang-chu']" itemprop="url"><span itemprop="title">Trang
                        chủ</span></a>
            </li>
            <li class="icon-li"><strong>Giới thiệu</strong> </li>
        </ul>
    </div>

    <!-- noi dung gioi thiêu -->
    <div class="about-detail">
        <h1 class="title clearfix">
            <i class="{{gioiThieu.icon}}"></i>
            <span>{{gioiThieu.tieude}}</span>
        </h1>
        <div class="about-block">
            <div class="content" [innerHTML]="gioiThieu.noidung | safeHtml">
            </div>
            <div class="social-group">
            </div>
        </div>
    </div>
</div>