<div class="slideshow">

    <!--Begin-->
    <div class="flexslider slideshow-content" id="slider" #slider>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="../assets/images/slider/banner4.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/slider/banner5.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../assets/images/slider/bathroom.jpg" />
                </a>
            </li>
        </ul>
    </div>
    <!--End-->
</div>