<div class="property-detail clearfix">
    <div class="property-block clearfix ">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 clearfix property-image" *ngIf="mangHinh.length">
                <div class="col-md-12 col-sm-8 col-xs-12 image" style="margin-bottom: 20px;">
                    <img src="../../../../assets/images/product/{{tenHinh}}" class="img-responsive" alt="{{mota}}"
                        style="width: 100%; height: 100%;" />
                </div>
                <!-- danh sach img lien quan chưa xử lí chọn hình hiện lên trên-->

                <div class="col-md-12 col-sm-8 col-xs-12">
                    <marquee *ngIf="mangHinh.length > 5 else nguoclai" behavior="alternate" onmouseover="this.stop()"
                        onmouseout="this.start()" scrollamount="2">
                        <span *ngFor="let hinh of mangHinh;" style="width: 80px !important; height: 60px !important; display: inline-block; margin-left:
                        5px;">
                            <a [routerLink]=" [pathCurrent]" [ngClass]="{'thumbnail':true}" (click)="thayDoiHinh(hinh)">
                                <img src="../../../../assets/images/product/{{hinh.tenhinh}}"
                                    style="width: 100% !important; height: 40px !important;" alt="{{hinh.alt}}">
                            </a>
                        </span>
                    </marquee>
                    <ng-template #nguoclai>
                        <span *ngFor="let hinh of mangHinh;" style="width: 80px !important; height: 60px !important; display: inline-block; margin-left:
                            5px;">
                            <a [routerLink]=" [pathCurrent]" [ngClass]="{'thumbnail':true}" (click)="thayDoiHinh(hinh)">
                                <img src="../../../../assets/images/product/{{hinh.tenhinh}}"
                                    style="width: 100% !important; height: 40px !important;" alt="{{hinh.alt}}">
                            </a>
                        </span>
                    </ng-template>


                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 property-info" *ngIf="duan">
                <h1 class="name">{{duan.tenDuAn}}</h1>
                <ul>
                    <li>
                        MS:<label>{{duan.maduan}}</label>
                    </li>
                    <li>
                        Giá:<label class="price">{{duan.giaTien | number}}</label>
                    </li>
                    <li>
                        Ngày đăng:<label class="price">{{duan.ngayDang | date:"dd-MM-yyyy"}}</label>
                    </li>
                    <li>
                        Địa chỉ:<label>{{duan.quanHuyen}} - {{duan.tinhThanhPho}}</label>
                    </li>
                    <li>
                        Khu vực:<label>{{duan.tinhThanhPho}}</label>
                    </li>
                    <li>
                        Loại:<label>{{duan.danhMuc}}</label>
                    </li>
                    <li>
                        Danh mục bất động sản:<label>{{duan.loaiGiaoDich}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>