<div class="row" style=" margin-top: -8px">
    <form id="form-add-duan" [formGroup]="formthemDuan">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM DỰ ÁN</h1>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Tên Dự Án</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="tenDuAn" placeholder="Tên Dự Án"
                        formControlName="tenDuAn" [ngClass]="{ 'is-invalid': submitted && f.tenDuAn.errors }">
                    <div *ngIf="submitted && f.tenDuAn.errors" class="invalid-feedback">
                        <div *ngIf="f.tenDuAn.errors.required">Vui lòng nhập Tên Dự Án</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Giá Tiền</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="giaTien" placeholder="25 000 000"
                        formControlName="giaTien" [ngClass]="{ 'is-invalid': submitted && f.giaTien.errors }">
                    <div *ngIf="submitted && f.giaTien.errors" class="invalid-feedback">
                        <div *ngIf="f.giaTien.errors.required">Vui lòng nhập Giá Tiền</div>
                        <div *ngIf="f.giaTien.errors.pattern">Giá Tiền phải là số</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Ngày Đăng</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <div style="width: 80%;">
                        <div class="input-group date" data-date-format="dd.mm.yyyy">
                            <input id="filterDate2" type="text" class="form-control" placeholder="yyyy-MM-dd"
                                formControlName="ngayDang" [ngClass]="{ 'is-invalid': submitted && f.ngayDang.errors }">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tinhThanhPho">Tỉnh/TP</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" (change)="selectTinhThanhPho($event)">
                        <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Tỉnh/TP-----</option>
                        <option *ngFor="let item of ds_tinhthanhpho" value="{{item.v}}">
                            {{item.d}}</option>
                    </select>
                    <div *ngIf="submitted && tinhthanhphocodau.length === 0" class="invalid-feedback">
                        <div *ngIf="tinhthanhphocodau.length === 0">Vui lòng chọn Tỉnh/TP</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Quận/Huyện</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" (change)="selectQuanHuyen($event)">
                        <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Quận/Huyện-----</option>
                        <option *ngFor="let item of ds_quan" value="{{item.tenquanhuyenkhongdau}}">
                            {{item.tenquanhuyencodau}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Danh Mục</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" formControlName="danhMuc">
                        <option *ngFor="let item of ds_danhmuc" value="{{item.maDanhMuc}}">
                            {{item.tenDanhMuc}}</option>
                    </select>
                    <div *ngIf="submitted && f.danhMuc.errors" class="invalid-feedback">
                        <div *ngIf="f.danhMuc.errors.required">Vui lòng chọn Danh Mục</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Giao Dịch</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" formControlName="loaiGiaoDich">
                        <option *ngFor="let item of ds_loaigiaodich" value="{{item.maLoai}}">
                            {{item.tenLoai}}</option>
                    </select>
                    <div *ngIf="submitted && f.loaiGiaoDich.errors" class="invalid-feedback">
                        <div *ngIf="f.loaiGiaoDich.errors.required">Vui lòng chọn Loại Giao Dịch</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Đối Tác</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" formControlName="doiTac">
                        <option *ngFor="let item of ds_doitac" value="{{item.maDoiTac}}">
                            {{item.hoTen}}</option>
                    </select>
                    <div *ngIf="submitted && f.doiTac.errors" class="invalid-feedback">
                        <div *ngIf="f.doiTac.errors.required">Vui lòng chọn Đối tác</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Trạng Thái</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" style="width: 80%;" formControlName="trangThai"
                        (change)="selectTrangThai($event)">
                        <option *ngFor="let item of ds_trangthaiduan" value="{{item.matrangthai}}">
                            {{item.tentrangthai}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Dự Án</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" formControlName="loaiDuAn">
                        <option *ngFor="let item of ds_loaiduan" value="{{item.maLoai}}">
                            {{item.tenLoai}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Nội Dung Tóm Tắt</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="width: 80%"
                        formControlName="noiDungTomTat"
                        [ngClass]="{ 'is-invalid': submitted && f.noiDungTomTat.errors }"></textarea>
                    <div *ngIf="submitted && f.noiDungTomTat.errors" class="invalid-feedback">
                        <div *ngIf="f.noiDungTomTat.errors.required">Vui lòng nhập Nội dung tóm tắt</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Nội Dung Chi Tiết</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="width: 80%"
                        formControlName="noiDungChiTiet"
                        [ngClass]="{ 'is-invalid': submitted && f.noiDungChiTiet.errors }"></textarea>
                    <div *ngIf="submitted && f.noiDungChiTiet.errors" class="invalid-feedback">
                        <div *ngIf="f.noiDungChiTiet.errors.required">Vui lòng nhập Nội dung chi tiết</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="mangHinh">Hình Ảnh</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="file" multiple (change)="changeImage($event)" style="width: 80%;" id="mangHinh">
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="statusAdd.status" class="invalid-feedback">
                    <div [innerHTML]="statusAdd.message"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="add()">Submit Dự Án</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất Cả</button>&nbsp;&nbsp;
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>