<div class="row" style=" margin-top: -8px">
    <form id="form-add-duan" [formGroup]="formthemDuan">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM DỰ ÁN</h1>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Tên Dự Án</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="tenDuAn" placeholder="Tên Dự Án"
                        formControlName="tenDuAn" [ngClass]="{ 'is-invalid': submitted && f.tenDuAn.errors }">
                    <div *ngIf="submitted && f.tenDuAn.errors" class="invalid-feedback">
                        <div *ngIf="f.tenDuAn.errors.required">Vui lòng nhập Tên Dự Án</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Giá Tiền</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="giaTien" placeholder="Tên Dự Án"
                        formControlName="giaTien" [ngClass]="{ 'is-invalid': submitted && f.giaTien.errors }">
                    <div *ngIf="submitted && f.giaTien.errors" class="invalid-feedback">
                        <div *ngIf="f.giaTien.errors.required">Vui lòng nhập Giá Tiền</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Ngày Đăng</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <div style="width: 80%;">
                        <div class="input-group date" data-date-format="dd.mm.yyyy">
                            <input id="filterDate2" type="text" class="form-control" placeholder="yyyy-MM-dd"
                                formControlName="ngayDang" [ngClass]="{ 'is-invalid': submitted && f.ngayDang.errors }">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tinhThanhPho">Tỉnh/TP</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        (change)="selectTinhThanhPho($event)" formControlName="tinhThanhPho"
                        [ngClass]="{ 'is-invalid': submitted && f.tinhThanhPho.errors }">
                        <option *ngFor="let item of ds_tinhthanhpho" value="{{item.v}}">
                            {{item.d}}</option>
                    </select>
                    <div *ngIf="submitted && f.tinhThanhPho.errors" class="invalid-feedback">
                        <div *ngIf="f.tinhThanhPho.errors.required">Vui lòng chọn Tỉnh/TP</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Quận/Huyện</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="quanHuyen"
                        [ngClass]="{ 'is-invalid': submitted && f.quanHuyen.errors }">
                        <option *ngFor="let item of ds_quan" value="{{item.tenquanhuyenkhongdau}}">
                            {{item.tenquanhuyencodau}}</option>
                    </select>
                    <div *ngIf="submitted && f.quanHuyen.errors" class="invalid-feedback">
                        <div *ngIf="f.quanHuyen.errors.required">Vui lòng chọn Quận/Huyện</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Giao Dịch</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="loaiGiaoDich"
                        [ngClass]="{ 'is-invalid': submitted && f.loaiGiaoDich.errors }">
                        <option *ngFor="let item of ds_loaigiaodich" value="{{item.maDanhMuc}}">
                            {{item.tenDanhMuc}}</option>
                    </select>
                    <div *ngIf="submitted && f.loaiGiaoDich.errors" class="invalid-feedback">
                        <div *ngIf="f.loaiGiaoDich.errors.required">Vui lòng chọn Loại giao dịch</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Danh Mục</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="danhMuc"
                        [ngClass]="{ 'is-invalid': submitted && f.danhMuc.errors }">
                        <option value="">
                            Chung Cư</option>
                    </select>
                    <div *ngIf="submitted && f.danhMuc.errors" class="invalid-feedback">
                        <div *ngIf="f.danhMuc.errors.required">Vui lòng chọn Loại Danh mục</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Đối Tác</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)">
                        <option *ngFor="let item of ds_doitac" value="{{item.maDoiTac}}">
                            {{item.hoTen}}</option>
                    </select>
                    <div *ngIf="submitted && f.doiTac.errors" class="invalid-feedback">
                        <div *ngIf="f.doiTac.errors.required">Vui lòng chọn Đối tác</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Trạng Thái</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="trangThai"
                        [ngClass]="{ 'is-invalid': submitted && f.trangThai.errors }">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <div *ngIf="submitted && f.trangThai.errors" class="invalid-feedback">
                        <div *ngIf="f.trangThai.errors.required">Vui lòng chọn Trạng thái</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Loại Dự Án</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" ng-model="ProvinceId" style="width: 80%;"
                        ng-change="getDistricts(ProvinceId)" formControlName="loaiDuAn"
                        [ngClass]="{ 'is-invalid': submitted && f.loaiDuAn.errors }">
                        <option value="1">Nổi bật</option>
                    </select>
                    <div *ngIf="submitted && f.loaiDuAn.errors" class="invalid-feedback">
                        <div *ngIf="f.loaiDuAn.errors.required">Vui lòng chọn Loại dự án</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Nội Dung Tóm Tắt</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="width: 80%"
                        formControlName="noiDungTomTat"
                        [ngClass]="{ 'is-invalid': submitted && f.noiDungTomTat.errors }"></textarea>
                    <div *ngIf="submitted && f.noiDungTomTat.errors" class="invalid-feedback">
                        <div *ngIf="f.noiDungTomTat.errors.required">Vui lòng nhập Nội dung tóm tắt</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Nội Dung Chi Tiết</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="width: 80%"
                        formControlName="noiDungChiTiet"
                        [ngClass]="{ 'is-invalid': submitted && f.noiDungChiTiet.errors }"></textarea>
                    <div *ngIf="submitted && f.noiDungChiTiet.errors" class="invalid-feedback">
                        <div *ngIf="f.noiDungChiTiet.errors.required">Vui lòng nhập Nội dung chi tiết</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="mangHinh">Hình Ảnh</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="file" multiple (change)="changeImage($event)" style="width: 80%;" id="mangHinh">
                </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="add()">Submit Dự Án</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất Cả</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-info" (click)="update()">Update Dự Án</button>

        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>