<div class="property-detail clearfix">
    <div class="property-block clearfix ">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 clearfix property-image">
                <div id="property-slider" class="flexslider property-slider">
                    <ul class="slides">
                        <li class="image">
                            <img src="..\assets\images\project\property-small-5-270x200.png" class="img-responsive" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 property-info">
                <h1 class="name">HELIOS 75 TAM TRINH _ CHIẾT KHẤU 2% GI&#193; CHỈ TỪ 1,4 TỶ _ LI&#202;N HỆ 094 706 4444</h1>
                <ul>
                    <li>
                        MS:<label> </label>
                    </li>
                    <li>
                        Giá:<label class="price">0đ</label>
                    </li>
                    <li>
                        Ngày đăng:<label class="price"> 15/04/2015 08:41</label>
                    </li>
                    <li>
                        Địa chỉ:<label>5/12A Quang Trung, P.14, Q.G&#242; Vấp, Tp.HCM</label>
                    </li>
                    <li>
                        Khu vực:<label>Hồ Ch&#237; Minh</label>
                    </li>
                    <li>
                        Loại:<label>Mua b&#225;n</label>
                    </li>
                    <li>
                        Danh mục bất động sản:<label>Đất thổ cư</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Khung chi tiet -->
<khung-chi-tiet></khung-chi-tiet>
<!-- Khung thong tin nguoi dang -->
<khung-thong-tin-nguoi-dang></khung-thong-tin-nguoi-dang>