<div class="box-news">
    <h3 class="title clearfix">
        <i class="fa fa-newspaper-o"></i>
        <span>
            Tin tức nổi bật
        </span>
    </h3>
    <div class="news-content">
        <div class="news-block clearfix">
            <!--Item 1-->
            <div *ngFor="let tinnoibat of noidungtintuc">
                <div class="news-item clearfix">
                    <div class="col-md-4 col-sm-4 col-xs-4 image"><a (click)="clickTinTucNoiBat()"
                            [routerLink]="['/tin-tuc-chi-tiet',tinnoibat.matintuc]"><img class="img-responsive"
                                src="{{urlImage}}get-images/{{tinnoibat.hinhanh[0].tenhinh}}"
                                alt="{{tinnoibat.hinhanh[0].alt}}" /></a>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 news-info ">
                        <h2 class="name"><a (click)="clickTinTucNoiBat()"
                                [routerLink]="['/tin-tuc-chi-tiet',tinnoibat.matintuc]">{{tinnoibat.tentintuc}}</a>
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>