<div class="box-news">
    <h3 class="title clearfix">
        <i class="fa fa-newspaper-o"></i>
        <span>
            Tin tức nổi bật
        </span>
    </h3>
    <div class="news-content">
        <div class="news-block clearfix">
            <!--Item 1-->
            <div class="news-item clearfix">
                <div class="col-md-4 col-sm-4 col-xs-4 image"><a href="tin-tuc/can-hotopaz-garden-tan-phu.html"><img
                            class="img-responsive" src="../../../../assets/images/product/19.jpg" alt="CĂN HỘTOPAZ GARDEN-T&#194;N PH&#218; "
                            title="CĂN HỘTOPAZ GARDEN-T&#194;N PH&#218; " /></a></div>
                <div class="col-md-8 col-sm-8 col-xs-8 news-info ">
                    <h2 class="name"><a href="tin-tuc/can-hotopaz-garden-tan-phu.html">CĂN HỘTOPAZ
                            GARDEN-T&#194;N PH&#218; </a></h2>

                </div>
            </div>
            <!--Item 2-->
            <div class="news-item clearfix">
                <div class="col-md-4 col-sm-4 col-xs-4 image"><a href="tin-tuc/lai-nong-doi-tuong-cho-vay-goi-30000-ty-dong.html"><img
                            class="img-responsive" src="../../../../assets/images/product/2.jpg" alt="LẠI N&#211;NG ĐỐI TƯỢNG CHO VAY G&#211;I 30.000 TỶ ĐỒNG "
                            title="LẠI N&#211;NG ĐỐI TƯỢNG CHO VAY G&#211;I 30.000 TỶ ĐỒNG " /></a></div>
                <div class="col-md-8 col-sm-8 col-xs-8 news-info ">
                    <h2 class="name"><a href="tin-tuc/lai-nong-doi-tuong-cho-vay-goi-30000-ty-dong.html">LẠI
                            N&#211;NG ĐỐI TƯỢNG CHO VAY G&#211;I 30.000 TỶ ĐỒNG </a></h2>

                </div>
            </div>
            <!--Item 3-->
            <div class="news-item clearfix">
                <div class="col-md-4 col-sm-4 col-xs-4 image"><a href="tin-tuc/gan-1000-ty-da-duoc-giai-ngan-trong-goi-30000-ty-dong.html"><img
                            class="img-responsive" src="../../../../assets/images/product/20.jpg" alt="GẦN 1.000 TỶ Đ&#195; ĐƯỢC GIẢI NG&#194;N TRONG G&#211;I 30.000 TỶ ĐỒNG "
                            title="GẦN 1.000 TỶ Đ&#195; ĐƯỢC GIẢI NG&#194;N TRONG G&#211;I 30.000 TỶ ĐỒNG " /></a></div>
                <div class="col-md-8 col-sm-8 col-xs-8 news-info ">
                    <h2 class="name"><a href="tin-tuc/gan-1000-ty-da-duoc-giai-ngan-trong-goi-30000-ty-dong.html">GẦN
                            1.000 TỶ Đ&#195; ĐƯỢC GIẢI NG&#194;N TRONG G&#211;I 30.000 TỶ ĐỒNG </a></h2>

                </div>
            </div>
            <!--Item 4-->
            <div class="news-item clearfix">
                <div class="col-md-4 col-sm-4 col-xs-4 image"><a href="tin-tuc/thu-pham-lam-gia-bat-dong-san-tang-cao.html">
                        <img class="img-responsive" src="../../../../assets/images/product/21.jpg" alt="THỦ PHẠM L&#192;M GI&#193; BẤT ĐỘNG SẢN TĂNG CAO"
                            title="THỦ PHẠM L&#192;M GI&#193; BẤT ĐỘNG SẢN TĂNG CAO" /></a></div>
                <div class="col-md-8 col-sm-8 col-xs-8 news-info ">
                    <h2 class="name"><a href="tin-tuc/thu-pham-lam-gia-bat-dong-san-tang-cao.html">THỦ
                            PHẠM L&#192;M GI&#193; BẤT ĐỘNG SẢN TĂNG CAO</a></h2>

                </div>
            </div>
        </div>
    </div>
</div>