.headeradmenu{
    font-size: 20px;
    color: rgb(9, 86, 163);
    margin: -2%;
}
.tieude{
    padding: 2% 5%;
    margin: 5% -3.8%;
    margin-bottom: 5%;
    background: -webkit-radial-gradient(center right, circle farthest-side, #ffffff 0%, rgb(139, 193, 238) 100%);
}

    .is-invalid{
        border-color: rgb(247, 106, 106) !important;
    }
    
    .invalid-feedback{
        color: white !important;
        border: 1px solid rgb(247, 176, 169);
        background: salmon;
        margin-top: -10px;
        padding: 8px 5px;
        border-radius: 3px 3px; 
        width: 80%;
    }
    .invalid-feedback2{
        color: white !important;
        border: 1px solid rgb(247, 176, 169);
        background: salmon;
        margin-top: 1px;
        padding: 8px 5px;
        border-radius: 3px 3px; 
        width: 100%;
    }

    .form-control-feedback{
        display: none;
      }