<div class="col-md-9">

    <div class="breadcrumb clearfix">
        <ul>
            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                <a title="Đến trang chủ" [routerLink]="['/']" itemprop="url"><span itemprop="title">Trang
                        chủ</span></a>
            </li>
            <li class="icon-li"><strong>Hướng dẫn</strong> </li>
        </ul>
    </div>

    <!-- noi dung hướng dẫn -->
    <div class="about-detail">
        <h1 class="title clearfix">
            <i class="{{noidunghuongdan.icon}}"></i>
            <span>{{noidunghuongdan.tieude}}</span>
        </h1>
        <div class="about-block">
            <div class="content" [innerHTML]="noidunghuongdan.noidung">
            </div>
            <div class="social-group">
            </div>
        </div>
    </div>
</div>