<section class="row">
    <section class="col-xs-2 col-sm-1 col-md-1 col-lg-3">
        <!-- header left -->
        <div style="text-align: center;background: rgb(139, 193, 238); width: 110%; margin-top: -0.5%"
            class="hidden-xs hidden-sm">
            <div>
                <a [routerLink]="['/san-giao-dich']">
                    <img src="../../../assets/images/icon/logo.png" class="img-responsive "
                        style="max-width: 130px; margin-left: -105px; border-radius: 5px 5px;" />
                </a>

            </div>
            <div>
                <a href="javaScript:void(0)" style="margin-left: -105px; font-weight: bold; color: #ffffff">HOME
                    ADMIN</a>
            </div>
        </div>
        <!-- end head left -->
        <!-- content left menu slidebar -->
        <article>
            <menu-admin></menu-admin>
        </article>
        <!-- end content left menu slidebar -->
    </section>
    <section class="col-xs-10 col-sm-11 col-md-11 col-lg-9">
        <!-- header right -->
        <div class="card-group"
            style="text-align: right; background: -webkit-radial-gradient(center right, circle farthest-side, #ffffff 0%, rgb(139, 193, 238) 100%);margin-left: -6%">
            <span>
                <!-- notifycation -->

                <!--end notifycation -->

                <div class="card">
                    <div class="card-body">
                        <p class="card-text hidden-xs hidden-sm">Quản Trị: {{tenadmin}}</p>
                    </div>
                </div>
                <div class="card" style="text-align: right; padding-right: 3%">
                    <img src="../../../assets/images/icon/avartar-default.jpg" class="circle"
                        style="max-width: 40px; " />
                    <p class="card-text hidden-xs hidden-sm"><small class="text-muted"><a href="javascript:void(0)"> <i
                                    class="fa fa-circle text-success"></i>Online</a></small></p>
                </div>

            </span>
        </div>
        <!-- end header right -->
        <!-- content right -->
        <article>
            <router-outlet></router-outlet>
        </article>
    </section>
</section>
<footer-component></footer-component>