<section class="row">
    <section class="col-xs-1 col-sm-1 col-md-3 col-lg-3">
        <!-- header left -->
        <div style="text-align: center;" class="hidden-xs hidden-sm">
            <div>
                <img src="../../../assets/images/icon/logo.png" class="img-responsive " style="max-width: 130px;" />
            </div>
            <div>
                <a href="#">HOME ADMIN</a>
            </div>
        </div>
        <!-- end head left -->
        <!-- content left -->
        <article>
            <div style="font-size: 20px; ">
                <nav>
                    <ul class="mcd-menu " style="background: rgb(236, 240, 237)">
                        <li>
                            <a href="">
                                <i class="fa fa-home"></i>
                                <strong>Trang Chủ</strong>
                                <small>Trở lại Trang chủ</small>
                            </a>
                        </li>
                        <li>
                            <a href="" class="active">
                                <i class="fa fa-edit"></i>
                                <strong>Menu</strong>
                                <small>Cài đặt Menu</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Menu</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Menu</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Menu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-envelope-o"></i>
                                <strong>Bài Đăng</strong>
                                <small>Cài đặt Bài Đăng</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Bài Chờ duyệt</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Bài Đã duyệt</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Bài Đã Bỏ qua</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-gift"></i>
                                <strong>Dự Án</strong>
                                <small>Cài đặt Dự Án</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Dự Án</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Dự Án</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Dự Án</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-globe"></i>
                                <strong>Đối Tác</strong>
                                <small>Cài đặt Đối Tác</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Đối Tác</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Đối Tác</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Đối Tác</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-comments-o"></i>
                                <strong>Công Ty</strong>
                                <small>Cài đặt Công Ty</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Công Ty</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Công Ty</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Công Ty</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-picture-o"></i>
                                <strong>Danh Mục</strong>
                                <small>Cài đặt Danh Mục</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Danh Mục</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Danh Mục</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Danh Mục</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-envelope-o"></i>
                                <strong>Tin Tức</strong>
                                <small>Cài đặt Tin Tức</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Tin Tức</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Tin Tức</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Tin Tức</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-envelope-o"></i>
                                <strong>Tài Khoản</strong>
                                <small>Cài đặt Tài Khoản</small>
                            </a>
                            <ul>
                                <li><a href="#"><i class="fa fa-globe"></i>Thêm Tài Khoản</a></li>
                                <li><a href="#"><i class="fa fa-trophy"></i>Xóa Tài Khoản</a></li>
                                <li><a href="#"><i class="fa fa-certificate"></i>Sửa Tài Khoản</a></li>
                            </ul>
                        </li>
                        <li class="float">
                            <a class="search">
                                <input type="text" value="search ...">
                                <button><i class="fa fa-search"></i></button>
                            </a>
                            <a href="" class="search-mobile">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </article>
        <!-- end content left -->
    </section>
    <section class="col-xs-11 col-sm-11 col-md-9 col-lg-9">
        <!-- header right -->
        <div class="card-group" style="text-align: right;">
            <span>
                <!-- notifycation -->
                <div class="navbar-custom-menu hidden-xs hidden-sm" style="padding-left: 60%">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--end notifycation -->

                <div class="card">
                    <div class="card-body">
                        <p class="card-text hidden-xs hidden-sm">ADMIN: Trương Hồng Quý</p>
                    </div>
                </div>
                <div class="card" style="text-align: right; padding-right: 3%">
                    <img src="../../../assets/images/icon/admin.jpg" class="circle" style="max-width: 40px; " />
                    <p class="card-text hidden-xs hidden-sm"><small class="text-muted"><a href="#"> <i
                                    class="fa fa-circle text-success"></i>Online</a></small></p>
                </div>

            </span>
        </div>
        <!-- end header right -->
        <!-- content right -->
        <article class="row">
            <div class="col-md-12" style="padding-left: 10px;">
                <xoa-taikhoan></xoa-taikhoan>
            </div>
            <!-- <them-menu></them-menu> -->
            <!-- <xoa-menu></xoa-menu> -->
            <!-- <them-duan></them-duan> -->
            <!-- <xoa-duan></xoa-duan> -->
            <!-- <them-doitac></them-doitac> -->
            <!-- <xoa-doitac></xoa-doitac> -->
            <!-- <them-loaigiaodich></them-loaigiaodich> -->
            <!-- <xoa-loaigiaodich></xoa-loaigiaodich> -->
            <!-- <them-danhmuc></them-danhmuc> -->
            <!-- <xoa-danhmuc></xoa-danhmuc> -->
            <!-- <them-loaitintuc></them-loaitintuc> -->
            <!-- <xoa-loaitintuc></xoa-loaitintuc> -->
            <!-- <them-gioithieu></them-gioithieu> -->
            <!-- <xoa-gioithieu></xoa-gioithieu> -->
            <!-- <them-taikhoan></them-taikhoan> -->

        </article>

    </section>
</section>
<footer-component></footer-component>
<!--
<li>
    <a href="">
        <i class="fa fa-comments-o"></i>
        <strong>Công Ty</strong>
        <small>Cài đặt Công Ty</small>
    </a>
    <ul>
        <li><a href="#"><i class="fa fa-globe"></i>Mission</a></li>
        <li>
            <a href="#"><i class="fa fa-group"></i>Our Team</a>
            <ul>
                <li><a href="#"><i class="fa fa-female"></i>Leyla Sparks</a></li>
                <li>
                    <a href="#"><i class="fa fa-male"></i>Gleb Ismailov</a>
                    <ul>
                        <li><a href="#"><i class="fa fa-leaf"></i>About</a></li>
                        <li><a href="#"><i class="fa fa-tasks"></i>Skills</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-female"></i>Viktoria Gibbers</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-trophy"></i>Rewards</a></li>
        <li><a href="#"><i class="fa fa-certificate"></i>Certificates</a></li>
    </ul>
</li>
-->