<div class="row" style=" margin-top: -8px">
    <form id="form-add-menu" ng-submit="add()" [formGroup]="formthemMenu">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM MENU</h1>
            </div>
            <div class="form-group">
                <label for="Name">Tên Menu</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="namemenu" placeholder="Name Menu"
                        formControlName="namemenu" [ngClass]="{ 'is-invalid': submitted && f.namemenu.errors }">
                    <div *ngIf="submitted && f.namemenu.errors" class="invalid-feedback">
                        <div *ngIf="f.namemenu.errors.required">Vui lòng nhập Name Menu</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Code Menu</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="codemenu" placeholder="Code Menu"
                        formControlName="codemenu" [ngClass]="{ 'is-invalid': submitted && f.codemenu.errors }">
                    <div *ngIf="submitted && f.codemenu.errors" class="invalid-feedback">
                        <div *ngIf="f.codemenu.errors.required">Vui lòng nhập Code Menu</div>
                        <div *ngIf="f.codemenu.errors.pattern">Code Menu không hợp lệ</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Trạng Thái Menu</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" style="width: 80%;" formControlName="statusmenu">
                        <option *ngFor="let item of ds_status" value="{{item.id}}">
                            {{item.value}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.statusmenu.errors" class="invalid-feedback">
                        <div *ngIf="f.statusmenu.errors.required">Vui lòng nhập Status Menu</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Icon Menu</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="iconmenu" placeholder="Nhập mã icon"
                        formControlName="iconmenu" [ngClass]="{ 'is-invalid': submitted && f.iconmenu.errors }">
                    <div *ngIf="submitted && f.iconmenu.errors" class="invalid-feedback">
                        <div *ngIf="f.iconmenu.errors.required">Vui lòng nhập Icon Menu</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Loại Menu</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control custom-select mr-sm-2" style="width: 80%;" formControlName="typemenu">
                        <option *ngFor="let item of ds_loaimenu" value="{{item.maloai}}">
                            {{item.maloai}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.typemenu.errors" class="invalid-feedback">
                        <div *ngIf="f.typemenu.errors.required">Vui lòng nhập Type Menu</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div *ngIf="statusAdd.status" class="invalid-feedback">
                    <div [innerHTML]="statusAdd.message"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="add()">Submit Menu</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Menu</button>&nbsp;&nbsp;
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>