<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--danh mục tin tức-->
                <danh-muc-tin-tuc></danh-muc-tin-tuc>
                <!--danh mục tin tức-->

                <!--tin tức nổi bật-->
                <tin-tuc-noi-bat></tin-tuc-noi-bat>
                <!--tin tức nổi bật-->
            </div>
            <div class="col-md-9">
                <!--nội dung trang tinh tức-->
                <noi-dung-tin-tuc></noi-dung-tin-tuc>
                <!--nội dung trang tinh tức-->
            </div>
        </div>
    </div>
</div>