<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb clearfix">
                    <ul>
                        <li class="home">
                            <a title="Đến trang chủ" [routerLink]="['/trang-chu']" itemprop="url">
                                <span itemprop="title">Trang chủ</span></a>
                        </li>
                        <li class="icon-li"><strong>Thư viện ảnh</strong> </li>
                    </ul>
                </div>
                <!--Nọi dung thư viện ảnh-->
                <noi-dung-thu-vien-anh></noi-dung-thu-vien-anh>
                <!--Nọi dung thư viện ảnh-->
            </div>
        </div>
    </div>
</div>