<header-component></header-component>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb clearfix">
                    <ul>
                        <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                            <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang
                                    chủ</span></a>
                        </li>
                        <li class="icon-li"><strong>Thư viện ảnh</strong> </li>
                    </ul>
                </div>
                <thu-vien-anh></thu-vien-anh>
            </div>
        </div>
    </div>
</div>
<doi-tac></doi-tac>
<footer-component></footer-component>