<div class="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Begin-->
                <div class="partner-content owl-carousel" ng-controller="moduleController" ng-init="initPartnerController('Partners')">
                    <h3 class="title">
                        <span>
                            Đối tác
                        </span>
                    </h3>
                    <div class="partner-block">
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner01.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner02.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner03.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner04.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner05.png" class="img-responsive" />
                            </a>
                        </div>
                        <div class="partner-item">
                            <a href="#">
                                <img src="..\assets\images\logo-doitac\partner06.png" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="boxprevnext">
                        <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
                        <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>