<div class="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Begin-->
                <div class="partner-content owl-carousel">
                    <h3 class="title">
                        <span>
                            Đối tác
                        </span>
                    </h3>
                    <div class="partner-block" *ngIf="flag else nguoclai">

                        <div class="partner-item" *ngFor="let lg of ds_logoDoiTac.mangHinh">
                            <a href="javaScript:void(0)">
                                <img src="../assets/images/logo-doitac/{{lg.tenhinh}}" class="img-responsive"
                                    alt="{{lg.alt}}" />
                            </a>
                        </div>



                    </div>
                    <ng-template #nguoclai>
                        <div class="partner-block  fa-3x">
                            <i style="font-size: 70px; color: cornflowerblue;margin: auto;"
                                class="fa fa-spinner fa-pulse"></i>
                        </div>
                    </ng-template>
                    <div class="boxprevnext">
                        <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
                        <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>