<div class="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!--Begin-->
                <div class="partner-content owl-carousel" ng-controller="moduleController" ng-init="initPartnerController('Partners')">
                    <h3 class="title">
                        <span>
                            Đối tác
                        </span>
                    </h3>
                    <div class="partner-block">
                        <div class="partner-item" *ngFor="let logo of ds_logoDoiTac.mangHinh">
                            <a href="javascript:void()">
                                <img src="..\assets\images\logo-doitac\{{logo.tenhinh}}" class="img-responsive" alt="{{logo.alt}}" />
                            </a>
                        </div>
                    </div>
                    <div class="boxprevnext">
                        <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
                        <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>