<div class="news-detail">
    <div class="news-block">

        <h1>{{tintuc.tentintuc}}</h1>
        <div class="date">{{tintuc.ngaydang}}</div>
        <div class="content">
            <div>
                {{tintuc.noidungtomtat}}
            </div>

            <br />
            <br />
            <div>
                {{tintuc.noidungchitiet}}
            </div>
            <div>
                <img src="../../../../assets/images/product/9.jpg" class="img-responsive"
                    alt="{{tintuc.hinhanh[0].alt}}" />
            </div>

            <div>

            </div>
        </div>
    </div>