<div class="wrapper">
    <header-component></header-component>
    <div class="main">
        <div class="container">
            <div class="row">
                <!--content left tai khoan-->
                <tai-khoan></tai-khoan>
                <!--content left tai khoan-->
                <!--content right dang nhap-->
                <form-laylaimatkhau></form-laylaimatkhau>
                <!--content right dang nhap-->
            </div>
        </div>
    </div>
    <doi-tac></doi-tac>
    <footer-component></footer-component>
</div>