<!--Begin-->
<div class="project-content owl-carousel">
    <h1 class="title clearfix">
        <i class="fa fa-list"></i>
        <span>Dự án mới</span>
    </h1>
    <div class="project-slide">
        <div class="row">
            <div class="controls boxprevnext">
                <a class="prev prevlogo"><i class="fa fa-angle-left"></i></a>
                <a class="next nextlogo"><i class="fa fa-angle-right"></i></a>
            </div>
            <div class="project-block project-grid clearfix" id="project-slide">
                <!--new 1-->
                <div class="project-item-box fixheight" *ngFor="let duan of ds_duAnMoi">
                    <div class="project-item project-slide-resize">
                        <div class="image image-resize" style="max-height: 200px; min-height: 200px;">
                            <a href="#" title="{{duan.mangHinh[0].alt}}">
                                <img src="..\assets\images\product\{{duan.mangHinh[0].tenhinh}}" class="img-responsive" />
                            </a>
                            <span class="new">New</span>
                            <div class="thumbnail">
                                <a class="zoom" href="#">
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="right-block">
                            <h2 class="name" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <a href="#">{{duan.tenDuAn}}</a>
                            </h2>
                            <div class="rating">
                                <div class="rating-1">
                                    <span class="rating-img">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->