<div class="wrapper">
    <header-component></header-component>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!--content left tai khoan-->
                    <tai-khoan></tai-khoan>
                    <!--content left tai khoan-->
                </div>
                <div class="col-md-9">
                    <!--content right dang nhap-->
                    <form-dang-nhap></form-dang-nhap>
                    <!--content right dang nhap-->
                </div>
            </div>
        </div>
    </div>
    <doi-tac></doi-tac>
    <footer-component></footer-component>
</div>