<div class="col-md-9">
    <div class="breadcrumb clearfix">
        <ul>
            <li itemscope="" class="home">
                <a title="Đến trang chủ" [routerLink]="['/trang-chu']" itemprop="url"><span itemprop="title">Trang
                        chủ</span></a>
            </li>
            <li class="icon-li"><strong>Đăng ký tài khoản</strong> </li>
        </ul>
    </div>
    <script type="text/javascript">
        $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
    </script>
    <div class="register-content clearfix">
        <h1 class="title clearfix"><span>Đăng ký tài khoản</span></h1>


        <!--thong bao loi-->
        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 col-xs-offset-0 col-sm-offset-0">
            <form method="POST" class="form-horizontal" ng-submit="register()" [formGroup]="formDangKy">
                <h2><span>Thông tin tài khoản</span></h2>
                <div class="form-group">
                    <label for="Code" class="col-sm-3 control-label">Tài khoản<span class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="Code" required="true"
                            formControlName="taikhoan" [ngClass]="{ 'is-invalid': submitted && f.taikhoan.errors }" />
                        <div *ngIf="submitted && f.taikhoan.errors" class="invalid-feedback">
                            <div *ngIf="f.taikhoan.errors.required">Vui lòng nhập Tài Khoản</div>
                            <div *ngIf="f.taikhoan.errors.pattern">Tài Khoản không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-sm-3 control-label">Email<span class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" ng-model="Email" required="true"
                            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Vui lòng nhập Email</div>
                            <div *ngIf="f.email.errors.pattern">Email không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-sm-3 control-label">Mật khẩu<span
                            class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-model="Password" required="true"
                            formControlName="pass" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
                        <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                            <div *ngIf="f.pass.errors.required">Vui lòng nhập Mật khẩu</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="RePassword" class="col-sm-3 control-label">Nhập lại mật khẩu<span
                            class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" ng-model="RePassword" formControlName="confirmpass"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpass.errors }" />
                        <div *ngIf="submitted && f.confirmpass.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmpass.errors.required">Vui lòng nhập Mật khẩu xác nhận</div>
                            <div *ngIf="f.confirmpass.errors.mustMatch">Không khớp với mật khẩu</div>
                        </div>
                    </div>
                </div>
                <h2>Thông tin cá nhân</h2>
                <div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">Họ tên<span class="warning">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="Name" required="true" formControlName="hoten"
                            [ngClass]="{ 'is-invalid': submitted && f.hoten.errors }" />
                        <div *ngIf="submitted && f.hoten.errors" class="invalid-feedback">
                            <div *ngIf="f.hoten.errors.required">Vui lòng nhập Họ tên</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Giới tính</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="GenderId"
                            ng-options="item.Id as item.Name for item in Genders">
                            <option *ngFor="let gt of dsgioitinh" value="{{gt}}">{{gt}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-3 control-label">Ngày sinh</label>
                    <div class="col-sm-9">
                        <div>
                            <div class="input-group date" data-date-format="yyyy-MM-dd">
                                <input id="filterDate2" type="text" class="form-control" placeholder="yyyy-MM-dd">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Điện thoại</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" formControlName="sdt"
                            [ngClass]="{ 'is-invalid': submitted && f.sdt.errors }" />
                        <div *ngIf="submitted && f.sdt.errors" class="invalid-feedback">
                            <div *ngIf="f.sdt.errors.pattern">Số điện thoại không hợp lệ</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Địa chỉ</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tỉnh/TP</label>
                    <div class="col-sm-9">
                        <select class="form-control" (change)="selectTinhThanhPho($event)">
                            <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Tỉnh/TP-----</option>
                            <option *ngFor="let item of ds_tinhthanhpho" value="{{item.v}}">
                                {{item.d}}</option>
                        </select>
                        <div *ngIf="submitted && tinhthanhphocodau.length === 0" class="invalid-feedback">
                            <div *ngIf="tinhthanhphocodau.length === 0">Vui lòng chọn Tỉnh/TP</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Quận/Huyện</label>
                    <div class="col-sm-9">
                        <select class="form-control" (change)="selectQuanHuyen($event)">
                            <option *ngIf="thanhphoduocchon.length === 0">-----Chọn Quận/Huyện-----</option>
                            <option *ngFor="let item of ds_quan" value="{{item.tenquanhuyenkhongdau}}">
                                {{item.tenquanhuyencodau}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mã xác nhận</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="1-2-3-4-5"
                            style="font-weight:bold;font-size:15px; " (keyup)="dinhDangChuoi($event)" maxlength="9"
                            ng-model="maXacNhan" required="true" formControlName="maXacNhan"
                            [ngClass]="{ 'is-invalid': submitted && f.maXacNhan.errors }" />
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-default"
                            (click)="yeuCauMaXacNhan()">{{buttonGuiMaXacNhan.name}} </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div *ngIf="submitted && f.maXacNhan.errors" class="invalid-feedback">
                            <div *ngIf="f.maXacNhan.errors.required">Vui lòng nhập mã xác nhận</div>
                        </div>
                        <div *ngIf="thongBaoMaXacNhan.status" class="invalid-feedback">
                            <div [innerHTML]="thongBaoMaXacNhan.message | safeHtml"></div>
                        </div>
                        <div *ngIf="thongBaoDangKi.status" class="invalid-feedback">
                            <div [innerHTML]="thongBaoDangKi.message | safeHtml"></div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default" (click)="register()">Đăng ký</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>