<div class="row" style=" margin-top: -8px">
    <form id="form-add-duan" ng-submit="add()" [formGroup]="formthemTinTuc">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="headeradmenu">
                <h1 class="tieude"><i class="fa fa-info-circle"></i>THÊM TIN TỨC</h1>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <label class="control-label" for="tentintuc">Tên Tin Tức</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <input type="text" style="width: 80%;" class="form-control" id="tentintuc" placeholder="VinHomes"
                        formControlName="tentintuc" [ngClass]="{ 'is-invalid': submitted && f.tentintuc.errors }">
                    <div *ngIf="submitted && f.tentintuc.errors" class="invalid-feedback">
                        <div *ngIf="f.tentintuc.errors.required">Vui lòng nhập Tên Tin Tức</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="tenDuAn">Ngày Đăng</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <div style="width: 80%;">
                        <div class="input-group date" data-date-format="yyyy-MM-dd" id="filterDate2">
                            <input type="text" class="form-control" placeholder="yyyy-MM-dd" formControlName="ngayDang"
                                [ngClass]="{ 'is-invalid': submitted && f.ngayDang.errors }">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="loaitintuc">Loại Tin Tức</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <select class="form-control" style="width: 80%;" formControlName="loaitintuc"
                        [ngClass]="{ 'is-invalid': submitted && f.loaitintuc.errors }">
                        <option *ngFor="let item of ds_loaitintuc" value="{{item.maloai}}">{{item.tenloai}}</option>
                    </select>
                    <div *ngIf="submitted && f.loaitintuc.errors" class="invalid-feedback">
                        <div *ngIf="f.loaitintuc.errors.required">Vui lòng chọn Loại tin tức</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Nội Dung Tóm Tắt</label><span style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" style="width: 80%"
                        formControlName="noidungtomtat"
                        [ngClass]="{ 'is-invalid': submitted && f.noidungtomtat.errors }"></textarea>
                    <div *ngIf="submitted && f.noidungtomtat.errors" class="invalid-feedback">
                        <div *ngIf="f.noidungtomtat.errors.required">Vui lòng nhập Nội dung tóm tắt</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="quanHuyen">Nội Dung Chi Tiết</label><span
                    style="color: red; margin-left: 3px">*</span>
                <div class="form-inline">
                    <ck-editor name="editor1" formControlName="noidungchitiet" skin="moono-lisa" language="en"
                        [ngClass]="{ 'is-invalid': submitted && f.noidungchitiet.errors }">
                    </ck-editor>
                    <div *ngIf="submitted && f.noidungchitiet.errors" class="invalid-feedback2">
                        <div *ngIf="f.noidungchitiet.errors.required">Vui lòng nhập Nội dung chi tiết</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="mangHinh">Hình Ảnh</label><span
                    style="color: red; margin-left: 3px">*</span>
                <!-- <div class="form-inline">
                    <input type="file" multiple (change)="changeImage($event)" style="width: 80%;" id="mangHinh">
                </div> -->
                <!-- hinh anh -->
                <upload-image *ngIf="flag" [page]="status"></upload-image>
                <!-- hinh anh -->
            </div>
            <div class="form-group">
                <div *ngIf="statusAdd.status" class="invalid-feedback">
                    <div [innerHTML]="statusAdd.message | safeHtml"></div>
                </div>
            </div>

            <button type="submit" class="btn btn-info" (click)="add()">Submit Tin Tức</button>&nbsp;&nbsp;
            <button type="reset" class="btn btn-info">Reset Tất Cả</button>&nbsp;&nbsp;
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
        </div>
    </form>
</div>